<div ng-controller="RegisterStep7Controller"   class="ansog1">
     <div id="content" class="wrap2">
     	  
          <div class="page-black livetitle">
          	   <div class="section-top">
               		<h2>{{ isDanish ? 'Ansøgningsskema' : 'Application form' }}</h2>
                    <div class="black-right">
                    	 <a href="#" class="black-edit"></a>
                          <a href="#/index{{isDanish ? '/da' : '/en'}}" class="black-close">{{ isDanish ? 'luk' : 'Close' }}</a>
                    </div>
               </div><!--close section-top-->
               
               <div class="section-middle">
               		
                    <div class="black-section">
                    	 <div class="black-row">
                         
                         	  <div class="black-leftbar">
                                      <p class="active" ng-if="isDanish">For at sende din ansøgning, bede du klikke på feltet med "ansøg".</p>
                                      <p class="active" ng-if="!isDanish">To submit your application please click on ”apply”.</p>
                              </div><!--close black-leftbar-->
                              
                              <div class="black-rightbar livetitle ">
                              	   
                                   
                                   <div class="black-row">
                                   		<div class="black-cal6">
                                        	 <h3><strong>{{ isDanish ? 'AFSLUT ANSØGNING' : 'Finish Application' }}</strong></h3>
                                             
                                             <div class="checkbox_box"><span class="box15"><input type="checkbox" name="genre" id="check-1" value="action" /><label for="check-1"></label></span>{{ isDanish ? 'Juridiske betingelser' : 'Terms & Conditions'}}*</div>
                                             
                                             <input name="" type="submit" value="Ansøg" class="submit">
                                             
                                             <div class="text">
                                                  <p>{{ isDanish ? 'BEMÆRK' : 'Remark' }}<br>
                                                            <em ng-if="isDanish">Ingen profiler offentliggøres på vores hjemmeside før den er gennemset af en medarbejder. Når din profil godkendes eller afvises hører du fra os pr mail.</em>
                                                            <em ng-if="!isDanish">Profiles will not be published on our website before the application is reviewed by an employee. When your profile is approved or rejected, you will hear from us via mail.</em>
                                                       </p>
                                             </div>
                                             
                                        </div><!--close black-cal6-->
                                        
                                        
                                   </div><!--close black-row-->
                              </div><!--close black-rightbar-->
                              
                         </div><!--close black-row-->
                    </div><!--close black-section-->
                    
                    <div class="black-numbers"><span class="span3"><em>07</em>/07</span></div>
               </div><!--close section-middle-->
               
               <div class="section-bottom">
               		<div class="blackpage-controller">
                    	 <span class="controller-title">{{ isDanish ? 'Færdig' : 'Done' }}</span>
						 <a href="#/ansog-trin6{{isDanish ? '/da' : '/en'}}" class="black-prev"></a>
                         <button ng-disabled="profile_ansog_form7.$touched" type="submit" class="black-next"></button>                    </div>
               </div><!--close section-bottom-->
          </div><!--close page-black-->
          
     </div><!--close content-->
</div><!--close wrapper-->
</body>
</html>
