<div ng-controller="RegisterStep6Controller" class="ansog1">
      <div id="content" class="wrap2">

            <div class="page-black livetitle">
                  <div class="section-top">
                        <h2>Ansøgningsskema</h2>
                        <div class="black-right">
                              <!-- <a href="#" class="black-edit"></a> -->
                              <a href="#/index" class="black-close">luk</a>
                        </div>
                  </div>
                  <!--close section-top-->
                  <form name="profile_ansog_form6" id="profile_ansog_form6" ng-submit="step6Create()">  
                  <div class="section-middle">

                        <div class="black-section">
                              <div class="black-row">

                                    <div class="black-leftbar">
                                          <p>For at ansøge om en profil, bedes du udfylde felterne og klikke videre til næste
                                                side.
                                          </p>
                                    </div>
                                    <!--close black-leftbar-->

                                    <div class="black-rightbar livetitle blackcontainer">


                                          <div class="black-row black-seperate">
                                                <div class="black-cal4">
                                                      <div class="upload_section">
                                                            <span class="upload-title">UPLOAD</span>
                                                            <span class="upload-subtitle">Upload min. 3 fotos af dig selv*</span>
                                                            <span class="upload-icon">
                                                                  <img src="images/img-icon.png" />
                                                            </span>
                                                      </div>
                                                      
                                                      <div class="form_box form_box5 black-placeholder">
                                                            <input id="ansigt_text" required ng-model="files[0].name" name="" type="text" class="input2" placeholder="Ansigt*">
                                                            <label for="ansigt" class="upload1"></label>
                                                            <input ng-file-model="files[0]" required  id="ansigt" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none">
                                                      </div>

                                                      <div class="form_box form_box5 black-placeholder">
                                                            <input id="profil_text" required ng-model="files[1].name" name="" type="text" class="input2" placeholder="Profil*">
                                                            <label for="profil" class="upload1"></label>
                                                            <input id="profil" required ng-file-model="files[1]"  name="" type="file" class="input2" placeholder="Ansigt*" style="display:none">
                                                      </div>

                                                      <div class="form_box form_box5 black-placeholder">
                                                            <input id="helfigur_text" required ng-model="files[2].name" name="" type="text" class="input2" placeholder="Helfigur*">
                                                            <label for="helfigur" class="upload1"></label>
                                                            <input id="helfigur" required ng-file-model="files[2]" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none">
                                                      </div>

                                                      <div class="form_box form_box5">
                                                            <input id="helfigur_text" ng-model="files[3].name" name="" type="text" class="input2" placeholder="Ekstra">
                                                            <label for="ekstra" class="upload2"></label>
                                                            <input id="ekstra" ng-file-model="files[3]" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none">


                                                      </div>

                                                      <div class="form_box form_box5">
                                                            <input id="helfigur_text" ng-model="files[4].name" name="" type="text" class="input2" placeholder="Ekstra">
                                                            <label for="ekstra1" class="upload2"></label>
                                                            <input id="ekstra1" name="" ng-file-model="files[4]" type="file" class="input2" placeholder="Ansigt*" style="display:none">
                                                      </div>

                                                      <div class="form_box form_box5">
                                                            <input id="helfigur_text" ng-model="files[5].name" name="" type="text" class="input2" placeholder="Ekstra">
                                                            <label for="ekstra2" class="upload2"></label>
                                                            <input id="ekstra2" ng-file-model="files[5]" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none">
                                                      </div>

                                                   

                                                      <div class="form_box form_box5">
                                                            <a href="#" class="add-row"></a>
                                                      </div>

                                                </div>
                                                <!--close black-cal4-->

                                                <div class="black-cal4 middle-box">
                                                      <div class="form_box">
                                                            <label>Hvis du har pæne hænder</label>

                                                            <input id="helfigur_text" ng-model="files[6].name" name="" type="text" class="input2" placeholder="Foto af hænder">
                                                            <label for="hænder" class="upload2" style="top:18px !important"></label>
                                                            <input id="hænder" ng-file-model="files[6]" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none">

                                                      </div>

                                                      <div class="form_box">
                                                            <label>Hvis du har pæne fødder</label>

                                                            <input id="helfigur_text" ng-model="files[7].name" name="" type="text" class="input2" placeholder="Foto af fødder">
                                                            <label for="fødder" class="upload2" style="top:18px !important"></label>
                                                            <input id="fødder"  ng-file-model="files[7]" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none">
                                                      </div>

                                                      <div class="form_box">
                                                            <label>Hvis I gerne vil stille op som familie</label>
                                                            <input id="helfigur_text" ng-model="files[8].name" name="" type="text" class="input2" placeholder="Foto af familie">
                                                            <label for="familie" class="upload2" style="top:18px !important"></label>
                                                            <input id="familie" ng-file-model="files[8]" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none">
                                                      </div>

                                                      <div class="form_box">
                                                            <label>Hvis du har en enægget tvilling</label>

                                                            <input id="helfigur_text" ng-model="files[9].name" name="" type="text" class="input2" placeholder="Foto af tvilling">
                                                            <label for="tvilling" class="upload2" style="top:18px !important"></label>
                                                            <input id="tvilling"  ng-file-model="files[9]" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none">
                                                      </div>

                                                </div>
                                                <div class="black-cal4">
                                                      <div class="upload_section">
                                                            <span class="upload-title">VIDEO</span>
                                                            <span class="upload-subtitle">Valgfrit</span>
                                                            <span class="upload-icon">
                                                                  <img src="images/video-icon2.png" />
                                                            </span>
                                                      </div>
                                                     
                                                      <div class="form_box form_box5">
                                                            <input id="helfigur_text" ng-model="videos[0].name" name="" type="text" class="input2" placeholder="Upload">
                                                            <label for="video1" class="upload2"></label>
                                                            <input id="video1" ng-file-model="videos[0]" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none">
                                                      </div>

                                                      <div class="form_box form_box5">
                                                            <input id="helfigur_text" ng-model="videos[1].name" name="" type="text" class="input2" placeholder="Upload">
                                                            <label for="video2" class="upload2"></label>
                                                            <input id="video2" ng-file-model="videos[1]" name="" type="file" class="input" placeholder="Ansigt*" style="display:none">
                                                      </div>

                                                      <div class="form_box form_box5">
                                                            <input id="helfigur_text" ng-model="videos[2].name" name="" type="text" class="input2" placeholder="Upload">
                                                            <label for="video3" class="upload2"></label>
                                                            <input id="video3" ng-file-model="videos[2]" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none">
                                                      </div>

                                                      <div class="form_box form_box5">
                                                            <input id="helfigur_text" ng-model="videos[3].name" name="" type="text" class="input2" placeholder="Upload">
                                                            <label for="video4" class="upload2"></label>
                                                            <input id="video4" ng-file-model="videos[3]" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none">
                                                      </div>

                                                      <!-- <div class="form_box form_box5">
                                                            <a href="#" class="add-row"></a>
                                                      </div> -->

                                                </div>
                                                <!--close black-cal4-->
                                          </div>
                                          <!--close black-row-->
                                    </div>
                                    <!--close black-rightbar-->

                              </div>
                              <!--close black-row-->
                        </div>
                        <!--close black-section-->
                        <div class="black-section">
                              <div class="black-row">

                                    <div class="black-leftbar">
                                          <p class="active">For at sende din ansøgning, bede du klikke på feltet med "ansøg".</p>
                                    </div>
                                    <!--close black-leftbar-->

                                    <div class="black-rightbar livetitle ">
                                         
                                          
                                          <div class="black-row">
                                                <div class="black-cal6">
                                                      <h3>
                                                            <strong>AFSLUT ANSØGNING</strong>
                                                      </h3>

                                                      <div class="checkbox_box">
                                                            <span class="box15">
                                                                  <input type="checkbox" required ng-model="agree" value="1" name="genre" id="check-1" value="action"
                                                                  />
                                                                  <label for="check-1">Juridiske betingelser*</label>
                                                            </span></div>

                                                      <input name="" ng-disabled="profile_ansog_form6.$invalid" type="submit" value="Ansøg" class="submit">
                                                      <p ng-show="ifRegistring" style="color:#FFF; margin-top: 8%; margin-left: 40%" align="left"><img height="7%" width="7%" alt="loading" src="assets/loader/3.gif" /><br/><span style="margin-left: -2%; font-size: 11px;">Please Wait...</span></p>
                                                      <div class="text">
                                                            <p>BEMÆRK
                                                                  <br>
                                                                  <em>Ingen profiler offentliggøres på vores hjemmeside før den
                                                                        er gennemset af en medarbejder. Når din profil godkendes
                                                                        eller afvises hører du fra os pr mail.</em>
                                                            </p>
                                                      </div>

                                                </div>
                                                <!--close black-cal6-->


                                          </div>
                                          <!--close black-row-->
                                    </div>
                                    <!--close black-rightbar-->

                              </div>
                              <!--close black-row-->
                        </div>
                        <!--close black-section-->

                        <div class="black-numbers">
                              <span class="span3">
                                    <em>06</em>/06</span>
                        </div>
                  </div>
                  <!--close section-middle-->

            </form>
            <div class="section-bottom">
                  <div class="blackpage-controller">
                    <a href="#/ansog-trin5" class="black-prev">FORRIGE SIDE</a>
             </div>
                  <!--close section-bottom-->
            </div>
            <!--close page-black-->

      </div>
      <!--close content-->
</div>
<!--close wrapper-->
</body>

</html>