<div ng-controller="RegisterStep1Controller" class="ansog1">
     
     <div id="content" class="wrap2">
			<form name="profile_ansog_form1" id="profile_ansog_form1" ng-submit="step1Create()"> 

          <div class="page-black livetitle">
          	   <div class="section-top">
               		<h2>{{ isDanish ? 'Ansøgningsskema' : 'Application form' }}</h2>
                    <div class="black-right">
                    	 <!-- <a href="#" class="black-edit"></a> -->
                         <a href="#/index{{isDanish ? '/da' : '/en'}}" class="black-close">{{ isDanish ? 'luk' : 'Close' }}</a>
                    </div>
               </div><!--close section-top-->
               
               <div class="section-middle">
               		
                    <div class="black-section">
                    	 <div class="black-row">
                         
                         	  <div class="black-leftbar">
                                      <p ng-if="isDanish">For at ansøge om en profil, bedes du udfylde felterne og klikke videre til næste side.</p>
                                      <p ng-if="!isDanish">To apply for a profile please fill out the fields and continue to the next page.</p>
                              </div><!--close black-leftbar-->
                              <div class="black-rightbar livetitle">
                              	   <h3>{{ isDanish ? 'PERSONLIG INFO' : 'PERSONAL INFO' }}</h3>
                                   
                                   <div class="black-row">
                                   		<div class="black-cal6">
                                        	 <div class="form_box">
                                             	<input ng-model="first_name" name="first_name" id="first_name" required pattern=".{2,}" type="text" class="input2" placeholder="{{ isDanish ? 'Fornavn' : 'First name' }}*">
                                          
                                             </div>
                                             <div class="form_box">
                                             	<input ng-model="last_name" name="last_name" id="last_name"  required pattern=".{2,}" type="text" class="input2" placeholder="{{ isDanish ? 'Efternavn' : 'Last name' }}*">

                                             </div>
                                             <div class="form_box">
                                             	<input ng-model="password" name="password" id="password" required pattern=".{2,}" type="password" class="input2" placeholder="{{ isDanish ? 'Vælg password' : 'Choose password' }}*">
                                             </div>
                                             <div class="form_box">
                                             	<input ng-model="cpassword" name="cpassword" id="cpassword" required compare-to="password"  pattern=".{2,}" type="password" class="input2" placeholder="{{ isDanish ? 'Bekræft password' : 'Confirm password' }}*">
                                                <div ng-if="profile_ansog_form1.cpassword.$dirty" ng-messages="profile_ansog_form1.cpassword.$error" ng-hide="profile_ansog_form1.cpassword.$valid"><div ng-message="compareTo">{{ isDanish ? 'Password Confirm password mismatches' : 'Password Confirm password mismatches' }}</div></div>
                                             </div>
                                        </div><!--close black-cal4-->
                                        
                                        <div class="black-cal6">
                                        	 <div class="form_box">
                                             	  <div class="black-row">
                                                  
                                                  <div class="form_box">
                                                      	<input ng-model="address" name="address" id="address" required pattern=".{2,}" type="text" class="input2" placeholder="{{ isDanish ? 'Adresse*' : 'Address' }}">
                                                      </div>
                                                  
                                                      <div class="form_box2">
                                                      	<input ng-model="zipcode" name="zipcode" id="zipcode" required pattern=".{2,}" type="text" class="input2" placeholder="{{ isDanish ? 'Postnr.' : 'Zip code' }}*">
                                                      </div>
                                                      <div class="form_box2">
                                                      	<input ng-model="city" name="city" id="city" required pattern=".{2,}" type="text" class="input2" placeholder="{{ isDanish ? 'By' : 'City' }}*">
                                                      </div>
                                                  </div>
                                             </div>
                                             <div class="form_box">
                                             <div class="select-style">
                                            	<select name="country_id" id="country_id" class="input2"  ng-model="selectedCountry_id"  required data-error="{{ isDanish ? 'Select Land!' : 'Select Country!' }}" >
                                            	<option value="">{{ isDanish ? 'Land' : 'Country' }}* </option>
                                            	<option value="{{countries_id.id}}" ng-selected="{{selectedCountry_id == countries_id.id}}" ng-repeat="countries_id in countriesdropdown">{{countries_id.name}}</option>
												</select>
                                            
                                            </div>
                                             </div>
                                        </div><!--close black-cal4-->
                                   </div><!--close black-row-->
                              </div><!--close black-rightbar-->
                         </div><!--close black-row-->
                    </div><!--close black-section-->
                    
                    <div class="black-numbers"><span class="span3"><em>01</em>/06</span></div>
               </div><!--close section-middle-->
               
               <div class="section-bottom">
               		<div class="blackpage-controller">
                        <button ng-disabled="profile_ansog_form1.$touched" type="submit" class="black-next">{{ isDanish ? 'NÆSTE SIDE' : 'NEXT PAGE' }}</button>
                    </div>
               </div><!--close section-bottom-->
          </div><!--close page-black-->
        </form>
     </div><!--close content-->
     
     
</div>
<!--<script type="text/javascript" src="assets/js/jquery.selectbox-0.2.js"></script>
<script type="text/javascript">
		var myJQ = jQuery.noConflict();
		setTimeout(function(){
		myJQ(function () {
			myJQ("select").selectbox();
		});
		},1000);
</script>-->
