<div ng-controller="RegisterStep6Controller" class="ansog1">
      <div id="content" class="wrap2">
        <div class="page-black livetitle">
          <div class="section-top">
            <h2>{{ isDanish ? 'Ansøgningsskema' : 'Application form' }}</h2>
            <div class="black-right">
              <!-- <a href="#" class="black-edit"></a> -->
              <a href="#/index{{isDanish ? '/da' : '/en'}}" class="black-close">{{ isDanish ? 'luk' : 'Close' }}</a>
            </div>
          </div>
          <!--close section-top-->
          <form name="profile_ansog_form6" id="profile_ansog_form6" ng-submit="step6Create()">
            <div class="section-middle">
              <div class="black-section">
                <div class="black-row">
                  <div class="black-leftbar">
                    <p ng-if="isDanish">For at ansøge om en profil, bedes du udfylde felterne og klikke videre til næste side.</p>
                    <p ng-if="!isDanish">To apply for a profile please fill out the fields and continue to the next page.</p>
                  </div>
                  <!--close black-leftbar-->
                  <div class="black-rightbar livetitle blackcontainer">
                    <div class="black-row black-seperate">
                      <div class="black-cal4">
                        <div class="upload_section">
                          <span class="upload-title">UPLOAD</span>
                          <span class="upload-subtitle">{{ isDanish ? 'Upload min. 3 fotos af dig selv' : 'Upload at least 3 pictures of yourself' }}*</span>
                          <span class="upload-icon">
                            <img src="images/img-icon.png" />
                          </span>
                        </div>
                        
                        <div class="form_box form_box5 black-placeholder">
                          <input id="ansigt_text" ng-model="fieldone" name="" type="text" class="input2" placeholder="{{ isDanish ? 'Ansigt' : 'Face' }}*">
                          <label for="ansigt" class="upload1"></label>
                          <input custom-on-change="uploadFile" type="file" name="file1" id="ansigt" class="input2" placeholder="{{ isDanish ? 'Ansigt' : 'Face' }}*" style="display:none">
                          <progress ng-non-bindable id="progress" value="0" max="100"></progress>
                          <!-- <input ng-file-model="files[0]"  id="ansigt" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none"> -->
                        </div>
                        <div class="form_box form_box5 black-placeholder">
                          <input id="profil_text" name="" type="text" class="input2" placeholder="{{ isDanish ? 'Profil' : 'Profile' }}*">
                          <label for="profil" class="upload1"></label>
                          <input custom-on-change="uploadFile" type="file" name="file1" id="profil" class="input2" placeholder="{{ isDanish ? 'Ansigt' : 'Face' }}*" style="display:none">
                          <progress ng-non-bindable id="progress" value="0" max="100" ></progress>
    
                          <!-- <input id="profil" ng-file-model="files[1]"  name="" type="file" class="input2" placeholder="Ansigt*" style="display:none"> -->
                        </div>
                        <div class="form_box form_box5 black-placeholder">
                          <input id="helfigur_text" name="" type="text" class="input2" placeholder="{{ isDanish ? 'Helfigur' : 'Full-figure' }}*">
                          <label for="helfigur" class="upload1"></label>
                          <input custom-on-change="uploadFile" type="file" name="file1" id="helfigur" class="input2" placeholder="{{ isDanish ? 'Ansigt' : 'Face' }}*" style="display:none">
                          <progress ng-non-bindable id="progress" value="0" max="100" ></progress>
                          <!-- <input id="helfigur" ng-file-model="files[2]" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none"> -->
                        </div>
                        <div class="form_box form_box5">
                          <input id="helfigur_text" name="" type="text" class="input2" placeholder="{{ isDanish ? 'Ekstra' : 'Extra' }}">
                          <label for="ekstra" class="upload2"></label>
                          <input custom-on-change="uploadFile" type="file" name="file1" id="ekstra" class="input2" placeholder="{{ isDanish ? 'Ansigt' : 'Face' }}*" style="display:none">
                          <progress ng-non-bindable id="progress" value="0" max="100" ></progress>
                          <!-- <input id="ekstra" ng-file-model="files[3]" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none"> -->
                        </div>
                        <div class="form_box form_box5">
                          <input id="helfigur_text" name="" type="text" class="input2" placeholder="{{ isDanish ? 'Ekstra' : 'Extra' }}">
                          <label for="ekstra1" class="upload2"></label>
                          <input custom-on-change="uploadFile" type="file" name="file1" id="ekstra1" class="input2" placeholder="{{ isDanish ? 'Ansigt' : 'Face' }}*" style="display:none">
                          <progress ng-non-bindable id="progress" value="0" max="100" ></progress>
                          <!-- <input id="ekstra1" name="" ng-file-model="files[4]" type="file" class="input2" placeholder="Ansigt*" style="display:none"> -->
                        </div>
                        <div class="form_box form_box5">
                          <input id="helfigur_text" name="" type="text" class="input2" placeholder="{{ isDanish ? 'Ekstra' : 'Extra' }}">
                          <label for="ekstra2" class="upload2"></label>
                          <input custom-on-change="uploadFile" type="file" name="file1" id="ekstra2" class="input2" placeholder="{{ isDanish ? 'Ansigt' : 'Face' }}*" style="display:none">
                          <progress ng-non-bindable id="progress" value="0" max="100" ></progress>
                          <!-- <input id="ekstra2" ng-file-model="files[5]" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none"> -->
                        </div>
                        
                        <!--<div class="form_box form_box5">
                          <a href="#" class="add-row"></a>
                        </div>-->
                      </div>
                      <!--close black-cal4-->
                      <div class="black-cal4 middle-box">
                        <div class="form_box">
                          <label>{{ isDanish ? 'Hvis du har pæne hænder' : 'If you have nice hands' }}</label>
                          <input id="helfigur_text" name="" type="text" class="input2" placeholder="{{ isDanish ? 'Foto af hænder' : 'Picture of hands' }}">
                          <label for="hænder" class="upload2" style="top:18px !important"></label>
                          <input custom-on-change="uploadFile" type="file" name="file1" id="hænder" class="input2" placeholder="{{ isDanish ? 'Ansigt' : 'Face' }}*" style="display:none">
                          <progress ng-non-bindable id="progress" value="0" max="100" ></progress>
                          <!-- <input id="hænder" ng-file-model="files[6]" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none"> -->
                        </div>
                        <div class="form_box">
                          <label>{{ isDanish ? 'Hvis du har pæne fødder' : 'If you have nice feet' }}</label>
                          <input id="helfigur_text" name="" type="text" class="input2" placeholder="{{ isDanish ? 'Foto af fødder' : 'Picture of feet' }}">
                          <label for="fødder" class="upload2" style="top:18px !important"></label>
                          <input custom-on-change="uploadFile" type="file" name="file1" id="fødder" class="input2" placeholder="{{ isDanish ? 'Ansigt' : 'Face' }}*" style="display:none">
                          <progress ng-non-bindable id="progress" value="0" max="100" ></progress>
                          <!-- <input id="fødder"  ng-file-model="files[7]" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none"> -->
                        </div>
                        <div class="form_box">
                          <label>{{ isDanish ? 'Hvis I gerne vil stille op som familie' : 'If you would like to join as a family' }}</label>
                          <input id="helfigur_text" name="" type="text" class="input2" placeholder="{{ isDanish ? 'Foto af familie' : 'Picture of family' }}">
                          <label for="familie" class="upload2" style="top:18px !important"></label>
                          <input custom-on-change="uploadFile" type="file" name="file1" id="familie" class="input2" placeholder="{{ isDanish ? 'Ansigt' : 'Face' }}*" style="display:none">
                          <progress ng-non-bindable id="progress" value="0" max="100" ></progress>
                          <!-- <input id="familie" ng-file-model="files[8]" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none"> -->
                        </div>
                        <div class="form_box">
                          <label>{{ isDanish ? 'Hvis du har en enægget tvilling' : 'If you have an identical twin' }}</label>
                          <input id="helfigur_text" name="" type="text" class="input2" placeholder="{{ isDanish ? 'Foto af tvilling' : 'Picture of twin' }}">
                          <label for="tvilling" class="upload2" style="top:18px !important"></label>
                          <input custom-on-change="uploadFile" type="file" name="file1" id="tvilling" class="input2" placeholder="{{ isDanish ? 'Ansigt' : 'Face' }}*" style="display:none">
                          <progress ng-non-bindable id="progress" value="0" max="100" ></progress>
                          <!-- <input id="tvilling"  ng-file-model="files[9]" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none"> -->
                        </div>
                      </div>
                      <div class="black-cal4">
                        <div class="upload_section">
                          <span class="upload-title">VIDEO</span>
                          <span class="upload-subtitle">{{ isDanish ? 'Valgfrit' : 'Optional' }}</span>
                          <span class="upload-icon">
                            <img src="images/video-icon2.png" />
                          </span>
                        </div>
                        
                        <div class="form_box form_box5">
                          <input id="helfigur_text" ng-model="videos[0].name" name="" type="text" class="input2" placeholder="Upload">
                          <label for="video1" class="upload2"></label>
                          <input custom-on-change="uploadFile_video" type="file" name="file1" id="video1" class="input2" placeholder="{{ isDanish ? 'Ansigt' : 'Face' }}*" style="display:none">
                          <progress ng-non-bindable id="progress" value="0" max="50" ></progress>
                          <!-- <input id="video1" ng-file-model="videos[0]" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none"> -->
                        </div>
                        <div class="form_box form_box5">
                          <input id="helfigur_text" ng-model="videos[1].name" name="" type="text" class="input2" placeholder="Upload">
                          <input custom-on-change="uploadFile_video" type="file" name="file1" id="video2" class="input2" placeholder="{{ isDanish ? 'Ansigt' : 'Face' }}*" style="display:none">
                          <progress ng-non-bindable id="progress" value="0" max="100" ></progress>
                          <label for="video2" class="upload2"></label>
                          <!-- <input id="video2" ng-file-model="videos[1]" name="" type="file" class="input" placeholder="Ansigt*" style="display:none"> -->
                        </div>
                        <div class="form_box form_box5">
                          <input id="helfigur_text" ng-model="videos[2].name" name="" type="text" class="input2" placeholder="Upload">
                          <label for="video3" class="upload2"></label>
                          <input custom-on-change="uploadFile_video" type="file" name="file1" id="video3" class="input2" placeholder="{{ isDanish ? 'Ansigt' : 'Face' }}*" style="display:none">
                          <progress ng-non-bindable id="progress" value="0" max="100" ></progress>
                          <!-- <input id="video3" ng-file-model="videos[2]" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none"> -->
                        </div>
                        <div class="form_box form_box5">
                          <input id="helfigur_text" ng-model="videos[3].name" name="" type="text" class="input2" placeholder="Upload">
                          <label for="video4" class="upload2"></label>
                          <input custom-on-change="uploadFile_video" type="file" name="file1" id="video4" class="input2" placeholder="{{ isDanish ? 'Ansigt' : 'Face' }}*" style="display:none">
                          <progress ng-non-bindable id="progress" value="0" max="100" ></progress>
                          <!-- <input id="video4" ng-file-model="videos[3]" name="" type="file" class="input2" placeholder="Ansigt*" style="display:none"> -->
                        </div>
                        <!-- <div class="form_box form_box5">
                          <a href="#" class="add-row"></a>
                        </div> -->
                      </div>
                      <!--close black-cal4-->
                    </div>
                    <!--close black-row-->
                  </div>
                  <!--close black-rightbar-->
                </div>
                <!--close black-row-->
              </div>
              <!--close black-section-->
              <div class="black-section">
                <div class="black-row">
                  <div class="black-leftbar">
                    <p class="active">{{ isDanish ? 'For at sende din ansøgning, bede du klikke på feltet med "ansøg"' : 'To submit your application please click on ”apply”' }}.</p>
                  </div>
                  <!--close black-leftbar-->
                  <div class="black-rightbar livetitle ">
                    
                    
                    <div class="black-row">
                      <div class="black-cal6">
                        <h3>
                        <strong>{{ isDanish ? 'AFSLUT ANSØGNING' : 'Finish Application' }}</strong>
                        </h3>
                        <div class="checkbox_box">
                          <span class="box15">
                            <input type="checkbox" required ng-model="agree" value="1" name="genre" id="check-1" />
                            <label for="check-1">{{ isDanish ? 'Juridiske betingelser' : 'Terms & Conditions' }}*</label>
                          </span></div>
                          <input name="" ng-disabled="profile_ansog_form6.$invalid" type="submit" value="{{ isDanish ? 'Ansøg' : 'Apply' }}" class="submit">
                          <p ng-show="ifRegistring" style="color:#FFF; margin-top: 8%; margin-left: 40%" align="left"><img height="7%" width="7%" alt="loading" src="assets/loader/3.gif" /><br/><span style="margin-left: -2%; font-size: 11px;">{{ isDanish ? 'vent venligst' : 'Please Wait'}}...</span></p>
                          <div class="text">
                            <p>{{ isDanish ? 'BEMÆRK' : 'Remark' }}
                              <br>
                              <em ng-if="isDanish">Ingen profiler offentliggøres på vores hjemmeside før den
                              er gennemset af en medarbejder. Når din profil godkendes
                              eller afvises hører du fra os pr mail.</em>
                              <em ng-if="!isDanish">Profiles will not be published on our website before the application is reviewed by an employee. When your profile is approved or rejected, you will hear from us via mail.</em>
                            </p>
                          </div>
                        </div>
                        <!--close black-cal6-->
                      </div>
                      <!--close black-row-->
                    </div>
                    <!--close black-rightbar-->
                  </div>
                  <!--close black-row-->
                </div>
                <!--close black-section-->
                <div class="black-numbers">
                  <span class="span3">
                  <em>06</em>/06</span>
                </div>
              </div>
              <!--close section-middle-->
            </form>
            <div class="section-bottom">
              <div class="blackpage-controller">
                <a href="#/ansog-trin5{{isDanish ? '/da' : '/en'}}" class="black-prev">{{ isDanish ? 'FORRIGE SIDE' : 'PREVIOUS PAGE' }}</a>
              </div>
              <!--close section-bottom-->
            </div>
            <!--close page-black-->
          </div>
          <!--close content-->
        </div>
        <input type="hidden" name="" class="operation" value="insert">
        <!--close wrapper-->
      </body>
    </html>