<div class="page"  ng-controller="AboutusController">
    
         <div id="section_contact">
         	  <div class="container">
              	   <div class="">
                   	    <div class="blue_inner">
                        	 <h2>CONTACT US</h2>
                             <p>et iusto odio dignissimos ducimus qui blanditiis </p>
                        </div>
                   </div>
              </div><!--close container-->
         </div><!--close section2-->
         
         <div id="section_contact2">
         	  <div class="container">
              	   <h4>OUR LOCATION</h4>
                   <div class="contact_left">
                   		<p><strong>Pet Safe India</strong><br>Villikakkam <br>Chennai</p>
                        <p>Email :<br>petsafeindia@gmail.com<br>care@tailtracking.com</p>
                        <p>Phone :<br>+91 9840126263</p>
                   </div><!--close contact_left-->
                   
                   <div class="contact_right">
                   		<div class="contat_form"><label>Name</label><input name="" type="text" class="contact_input"></div>
                        <div class="contat_form"><label>Subject</label><input name="" type="text" class="contact_input"></div>
                        <div class="contat_form"><label>Mobile Number</label><input name="" type="text" class="contact_input mobile_number"><span class="country_code">+91</span></div>
                        <div class="contat_form"><label>Message</label><textarea name="" cols="" rows="" class="contact_textarea"></textarea></div>
                        <div class="contat_form"><input name="" type="submit" value="SUBMIT" class="contact_submit"></div>
                   </div><!--close contact_right-->
                   
                   <div class="map">
                   	    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.732666967832!2d80.22285631437632!3d13.052680990802703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5266f3ef5653b9%3A0x4defe56148078153!2s35%2C+Circular+Rd%2C+United+India+Colony%2C+Kodambakkam%2C+Chennai%2C+Tamil+Nadu+600024!5e0!3m2!1sen!2sin!4v1474364430219" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                   </div>
              </div><!--close container-->
         </div><!--close section2-->
         
         
         
              
    </div>
