<div class="page ansog1 full-width-page full-screen-black-box" ng-controller="UserloginController as ulc" >
        <div id="content" ng-controller="CustomerProfileController" >
          <div class="page-black newpadding login-page customer-login-page">
      
              <div class="show-xs main-menu-header show-xs">
                  <img src="images/CASTIT_LOGO_RGB_white.svg" style="height: 12vh" />
                  <a style=" padding-right: 0; line-height: 20px; display: inline-flex; " href="/#/index{{ isDanish ? '/da' : '/en'}}" class="poup-close2 popup-close-btn">{{ isDanish ? 'LUK' : 'CLOSE' }} <img style=" width: 20px; height: 15px; " src="images/svgs/lukw1.svg" alt=""></a>
             </div>
      
            <div class="section-top hide-xs">
                <div class="black-right">
                
              </div>              
            </div>
      
            <div class="section-login" style="padding-bottom: 100px !important">
              <div class="login-row">
                <div>
                <div class="login-call6" style="">
                  <div class="login_inner">
                      <h2>{{ isDanish ? 'Min Profil' : 'My Profile' }}</h2>

                    <form name="customer-login" ng-submit="customerLoginForm()" class="form-horizontal" method="POST" role="form">
                      <div class="login_box">
                        <label style="margin-left: 10px; color: #cccccc">{{ isDanish ? 'BRUGERNAVN' : 'USERNAME' }}</label>
                        <input id="customer_email" ng-model="customerData.profile[0].email" name="customer_email" type="email"  placeholder_dummy="Emailpppp" class="login_input" required autocomplete="off">
                      </div>
                      <div class="login_box">
                        <label style="margin-left: 10px; color: #cccccc" class="customer-label">{{ isDanish ? 'VIRKSOMHED' : 'CORPORATION' }}*</label>
                        <input id="customer_corporation" ng-model="customerData.profile[0].corporation" name="corporation" id="corporation"
                            required pattern=".{2,}" type="text" class="login_input"
                            placeholder_dummy="{{ isDanish ? 'Virksomhed' : 'corporation' }}">
                      </div>
                      <div class="login_box">
                        <label style="margin-left: 10px; color: #cccccc" class="customer-label">{{ isDanish ? 'TELEFON' : 'TELEPHONE' }}*</label>
                        <input id="customer_telephone" ng-model="customerData.profile[0].telephone" name="telephone" id="telephone" required pattern=".{2,}" type="text" class="login_input" placeholder_dummy="{{ isDanish ? '+45 87654321' : '+45 87654321' }}">
                      </div>
                      
                      <div class="login_box" style="margin-top: 20px">
                        <input ng-click="updateCustomerProfile()" name="" type="button" style="width: 45%; float: left;" class="login_button1 profile-buttons" value="{{ isDanish ? 'Opdater' : 'Update'}}">
                        <input ng-click="profileLogout()" name="" type="button" style="width: 45%; float: right;" class="login_button1 profile-buttons" value="Logout">
                      </div>
                    </form>
                  </div>
                </div><!--close login-call6-->
              </div>
              <div class="login-call6" style="">
                  <div class="login_inner">
                      <h2>{{ isDanish ? 'Mine Lightbox' : 'My Lightbox' }}</h2>
                      <div class="login_box" style="width: 25vw">
                        <span class="button1 ng-binding ng-scope" id="groupingbut13" style="cursor:pointer;" ng-repeat="grouping in customerData.groups" ng-click="checkuncheckgrouping(grouping.id)">{{grouping.group_name}}
                          <span class="close-icon-lightbox" ng-click="deleteLightbox(grouping.group_id)"></span>
                        </span>
                      </div>
                      <div class="login_box">
                          <input name="createLightboxButton" style="float: none" type="button" class="login_button1" value="{{isDanish?'Opret':'Create'}}" ng-click="showPrompt()">
                      </div>
                  </div>
                </div><!--close login-call6-->
              </div><!--close login-row-->
      
            </div><!--close section-login-->
          </div><!--close page-black-->
        </div>
      </div>
      