<!DOCTYPE html>
<!-- <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>Castit</title>

    <link href="style.css" rel="stylesheet">
    


</head>
<body> 
<div id="wrapper-home">

   
     <div class="home-table">
        <div class="home-td">
               <div class="home-logo"><img src="images/home-logo.png" alt="" /></div>
               <a href="http://134.213.29.220/#/index" class="enter-site">Enter</a>
          </div>
     </div>
     
     
</div>
</body>
</html> -->


<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
         <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>Castit</title>
        <link href="style.css" rel="stylesheet">
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="images/slide/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="images/slide/css/style.css" />
    </head>
    <body id="page" class="lnd-page">
        <!--<ul class="cb-slideshow">
            <li><span>Image 01</span></li>
            <li><span>Image 02</span></li>
            <li><span>Image 03</span></li>
            <li><span>Image 04</span></li>
            <li><span>Image 05</span></li>
            <li><span>Image 06</span></li>
            <li><span>Image 07</span></li>
            <li><span>Image 08</span></li>
            <li><span>Image 09</span></li>
            <li><span>Image 10</span></li>
           <li><span>Image 11</span></li>
            <li><span>Image 12</span></li>

            <li><span>Image 13</span></li>
            <li><span>Image 14</span></li>
            <li><span>Image 15</span></li>
            <li><span>Image 16</span></li>
            <li><span>Image 17</span></li>
            <li><span>Image 18</span></li>
            <li><span>Image 19</span></li>
            <li><span>Image 20</span></li>
        </ul>-->
       
       <div class="flexslider-container" style="z-index:0">
    <div class="flexslider">
        <ul class="slides">
        <li style="background-image: url(/images/slide/images/Slide_1.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_2.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_3.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_4.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_5.jpg);"></li>
        <li style="background-image: url(/images/slide/images/Slide_6.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_7.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_8.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_9.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_10.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_11.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_12.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_13.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_15.jpg);"></li>
        <li style="background-image: url(/images/slide/images/Slide_17.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_18.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_19.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_20.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_21.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_22.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_23.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_24.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_25.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_26.jpg);"></li> 
        <li style="background-image: url(/images/slide/images/Slide_27.jpg);"></li>
        <li style="background-image: url(/images/slide/images/Slide_28.jpg);"></li>

        </ul>
    </div>
</div>

       <div class="container">
            <!-- Codrops top bar -->
           
            <header>
                 <div class="home-logo"><img src="images/home-logo.png" alt="" /></div>
            </header>
        </div>
      
      <div class="container" style="margin-top: 17%; z-index:2">
        <div class="home-table">
        <div class="home-td">
              
               <a href="http://134.213.29.220/#/index" class="enter-site">Enter</a>
          </div>
     </div>
            
          </div>
    </body>
   <!-- <script type="text/javascript" src="images/slide/js/jquery.min.js"></script>-->
    <script type="text/javascript" src="images/slide/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
//jQuery(window).load(function() {
	//alert('');
  jQuery('.flexslider').flexslider({
    animation: "fade",
    controlNav: false,
    directionNav: false,
    slideshowSpeed: 300,
    animationSpeed: 0,
    randomize: false,
 // });
});
</script>
</html>
