<div class="page ansog1" ng-controller="UserloginController as ulc" >
  <div id="content" ng-controller="AngularLoginController as angCtrl" >
    <div class="page-black login-page">
      <div class="section-top">
        <h2>Login</h2>
        <div class="black-right">
          <a href="#/index" class="black-close">luk</a>
        </div>
      </div><!--close section-top-->
      
      <div class="section-login">
        <div class="login-row">

          <div class="login-call3">
            <div class="login_inner">
              <div ng-show="error" class="alert alert-danger">{{error}}</div>
              <form name="login" ng-submit="angCtrl.loginForm()" class="form-horizontal" method="POST" role="form">
                <div class="login_box">
                  <label>PROFIL LOGIN</label>
                  <input name="" type="text" placeholder="Email" class="login_input" ng-model="angCtrl.inputData.email">
                </div>
                <div class="login_box">
                  <label>INDTAST KODE</label>
                  <input name="" type="password" placeholder="**********" class="login_input" ng-model="angCtrl.inputData.password">
                </div>
                <div class="login_box">
                  <a href="javascript:;" class="login_link">Glemt adgangskode</a>
                </div>
                <div class="login_box2">
                  <input name="" type="submit" class="login_button1" value="Login">
                </div>
              </form>
            </div>
          </div><!--close login-call3-->

          <div class="login-call3" style="display: none;">
            <div class="login_inner">
              <div class="login_box">
                <label>KUNDE LOGIN</label>
                <input name="" type="text"  placeholder="Email" class="login_input">
              </div>
              <div class="login_box">
                <label>INDTAST KODE</label>
                <input name="" type="text" placeholder="**********" class="login_input">
              </div>
              <div class="login_box">
                <a href="javascript:;" class="login_link">Glemt adgangskode</a>
              </div>
              <div class="login_box2">
                <input name="" type="button" class="login_button1" value="Login">
              </div>
            </div>
          </div><!--close login-call3-->

        </div><!--close login-row-->
        
      </div><!--close section-login-->
    </div><!--close page-black-->
  </div>
</div>