<div ng-controller="MyProfileController2" class="ansog1 full-width-page full-screen-black-box">
  <div id="content" class="wrap2">
    <form name="profile_update_form2" id="profile_ansog_form2" ng-submit="step2Update()">
      <div class="page-black livetitle">

        <div class="show-xs main-menu-header show-xs">
          <img src="images/logo2.png" height="30" />
          <a href="/#/index{{ isDanish ? '/da' : '/en'}}"
            class="poup-close2 popup-close-btn">{{ isDanish ? 'LUK' : 'CLOSE' }}</a>
        </div>
        <div class="section-top">
          <h2>{{ profileinfo.first_name }} {{ profileinfo.last_name }} - {{ profileinfo.profile_number }}</h2>
          <div class="black-right hide-xs">
            <a href="#/index{{isDanish ? '/da' : '/en'}}" class="black-close">{{ isDanish ? 'luk' : 'Close' }}</a>
          </div>
        </div>

        <div class="section-middle">

          <div class="black-section">
            <div class="black-row">

              <div class="black-leftbar">
                <p ng-if="isDanish">For at opdatere din profil bedes du udfylde felterne og klikke videre til næste
                  side.</p>
                <p ng-if="!isDanish">To update your profile please fill out the fields and continue to the next page.
                </p>
              </div>
              <!--close black-leftbar-->

              <div class="black-rightbar livetitle">
                <div class="black-row wrap3">
                  <div class="black-cal6">
                    <h3>{{ isDanish ? 'PERSONLIG INFO' : 'PERSONAL INFO' }}</h3>
                    <div class="form_box">
                      <input name="email" id="email" ng-model="profileinfo.email" type="email" class="input2"
                        placeholder="{{ isDanish ? 'Email' : 'Email' }}*" validate-email required="required"
                        value="{{profileinfo.email}}"></div>
                    <div class="form_box">
                      <div class="black-row">
                        <div class="form_box2">
                          <input name="phone" id="phone" ng-model="profileinfo.phone" type="text" class="input2"
                            placeholder="{{ isDanish ? 'Tlf. 1' : 'Tel. 1' }}*" required="required"
                            value="{{profileinfo.phone}}"></div>
                        <div class="form_box2">
                          <input name="phone_at_work" id="phone_at_work" ng-model="profileinfo.phone_at_work"
                            type="text" class="input2" placeholder="{{ isDanish ? 'Tlf. 2' : 'Tel. 2' }}"
                            value="{{profileinfo.phone_at_work}}">
                        </div>
                      </div>
                    </div>
                    <div class="form_box">
                      <div class="black-row">
                        <div class="form_box2">
                          <div class="select-style">
                            <select name="gender_id" class="input2" id="gender_id" ng-model="profileinfo.gender_id"
                              required>
                              <option value="">{{ isDanish ? 'Køn' : 'Gender' }}*</option>
                              <option value="1" class="ng-binding ng-scope">{{ isDanish ? 'Mand' : 'Man' }}</option>
                              <option value="2" class="ng-binding ng-scope">{{ isDanish ? 'Kvinde' : 'Woman'}}</option>
                            </select>

                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <!--close black-cal4-->

                  <div class="black-cal6 fodt">
                    <h3>{{ isDanish ? 'FØDT' : 'BORN' }}</h3>
                    <div class="form_box">
                      <div class="black-row">
                        <div class="form_box3">
                          <div class="select-style">
                            <select name="birth_day" class="input2" id="birth_day" ng-model="profileinfo.birth_day"
                              required>
                              <option value="">{{ isDanish ? 'Dag' : 'Day' }}*</option>
                              <option value="01">01</option>
                              <option value="02">02</option>
                              <option value="03">03</option>
                              <option value="04">04</option>
                              <option value="05">05</option>
                              <option value="06">06</option>
                              <option value="07">07</option>
                              <option value="08">08</option>
                              <option value="09">09</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                              <option value="13">13</option>
                              <option value="14">14</option>
                              <option value="15">15</option>
                              <option value="16">16</option>
                              <option value="17">17</option>
                              <option value="18">18</option>
                              <option value="19">19</option>
                              <option value="20">20</option>
                              <option value="21">21</option>
                              <option value="22">22</option>
                              <option value="23">23</option>
                              <option value="24">24</option>
                              <option value="25">25</option>
                              <option value="26">26</option>
                              <option value="27">27</option>
                              <option value="28">28</option>
                              <option value="29">29</option>
                              <option value="30">30</option>
                              <option value="31">31</option>
                            </select>
                          </div>

                        </div>
                        <div class="form_box3">
                          <div class="select-style">
                            <select name="birth_month" class="input2" id="birth_month"
                              ng-model="profileinfo.birth_month" required>
                              <option value="">{{ isDanish ? 'Mdr.' : 'Month' }}*</option>
                              <option value="1">01</option>
                              <option value="2">02</option>
                              <option value="3">03</option>
                              <option value="4">04</option>
                              <option value="5">05</option>
                              <option value="6">06</option>
                              <option value="7">07</option>
                              <option value="8">08</option>
                              <option value="9">09</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                            </select>
                          </div>
                        </div>
                        <div class="form_box3">
                          <div class="select-style">
                            <select name="birth_year" class="input2" id="birth_year" ng-model="profileinfo.birth_year"
                              required>
                              <option value="">{{ isDanish ? 'År' : 'Year' }}*</option>
                              <option value="{{year_id.id}}" ng-selected="{{profileinfo.birth_year == year_id.id}}"
                                ng-repeat="year_id in yearsdropdown">{{year_id.name}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form_box">
                      <input name="ethnic_origin" id="ethnic_origin" ng-model="profileinfo.ethnic_origin" type="text"
                        class="input2" placeholder="{{ isDanish ? 'Etninsk oprindelse' : 'Ethnic Origin' }}"
                        value="{{profileinfo.ethnic_origin}}">
                    </div>
                    <div class="form_box">
                      <input ng-model="profileinfo.job" name="job" id="job" type="text" class="input2"
                        placeholder="{{ isDanish ? 'Beskæftigelse' : 'Employment' }}">
                    </div>
                  </div>
                  <!--close black-cal4-->
                </div>
                <!--close black-row-->
              </div>
              <!--close black-rightbar-->

            </div>
            <!--close black-row-->
          </div>
          <!--close black-section-->

          <div class="black-numbers hide-xs"><span class="span3"><em>02</em>/06</span></div>
        </div>
        <!--close section-middle-->

        <div class="section-bottom flex-footer">
          <div class="black-numbers mobile-pager show-xs"><span class="span3"><em>02</em>/06</span></div>
          <div class="blackpage-controller">
            <a href="#/my-profile_1{{isDanish ? '/da' : '/en'}}"
              class="black-prev">{{ isDanish ? 'FORRIGE SIDE' : 'PREVIOUS PAGE' }}</a>
            <button ng-disabled="profile_ansog_form2.$touched" type="submit"
              class="black-next">{{ isDanish ? 'NÆSTE SIDE' : 'NEXT PAGE' }}</button>
          </div>
        </div>
        <!--close section-bottom-->
      </div>
      <!--close page-black-->
    </form>
  </div>
  <!--close content-->

</div>
<!--close wrapper-->