<div ng-controller="MyProfileController3" class="ansog1">
  <div id="content" class="wrap2">
    <form name="profile_update_form3" id="profile_ansog_form3" ng-submit="step3Update()">
      <div class="page-black livetitle">
        <div class="section-top">
          <h2>Ansøgningsskema</h2>
          <div class="black-right">
            <!-- <a href="#" class="black-edit"></a> -->
            <a href="#/index" class="black-close">luk</a>
          </div>
        </div>
        <!--close section-top-->
        <div class="section-middle">
          <div class="black-section">
            <div class="black-row">
              <div class="black-leftbar">
                <p>For at ansøge om en profil, bedes du udfylde felterne og klikke videre til næste side.</p>
              </div>
              <!--close black-leftbar-->
              <div class="black-rightbar  livetitle">
                <h3>PERSONLIG INFO</h3>
                <div class="black-row">
                  <div class="black-cal6">
                    <div class="form_box">
                      <div class="black-row">
                        <div class="form_box2">
                        </div>
                        <div class="form_box2">
                          <div class="select-style">
                            <select ng-style="{'color':shirt_size_from==''?'#dadada':''}" name="shirt_size_from" class="input2" id="shirt_size_from" ng-model="profileinfo.shirt_size_from" >
                              <option value="">Skjorte fra</option>
                              <option style="color:black" value="35" ng-show="gender_id==1&& age>14">35</option>
                              <option style="color:black" value="36" ng-show="gender_id==1&& age>14">36</option>
                              <option style="color:black" value="37" ng-show="gender_id==1&& age>14">37</option>
                              <option style="color:black" value="38" ng-show="gender_id==1&& age>14">38</option>
                              <option style="color:black" value="39" ng-show="gender_id==1&& age>14">39</option>
                              <option style="color:black" value="40" ng-show="gender_id==1&& age>14">40</option>
                              <option style="color:black" value="41" ng-show="gender_id==1&& age>14">41</option>
                              <option style="color:black" value="42" ng-show="gender_id==1&& age>14">42</option>
                              <option style="color:black" value="43" ng-show="gender_id==1&& age>14">43</option>
                              <option style="color:black" value="44" ng-show="gender_id==1&& age>14">44</option>
                              <option style="color:black" value="45" ng-show="gender_id==1&& age>14">45</option>
                              <option style="color:black" value="46" ng-show="gender_id==1&& age>14">46</option>
                              <option style="color:black" value="32" ng-show="gender_id==2&& age>14">32</option>
                              <option style="color:black" value="34" ng-show="gender_id==2&& age>14">34</option>
                              <option style="color:black" value="36" ng-show="gender_id==2&& age>14">36</option>
                              <option style="color:black" value="38" ng-show="gender_id==2&& age>14">38</option>
                              <option style="color:black" value="40" ng-show="gender_id==2&& age>14">40</option>
                              <option style="color:black" value="42" ng-show="gender_id==2&& age>14">42</option>
                              <option style="color:black" value="44" ng-show="gender_id==2&& age>14">44</option>
                              <option style="color:black" value="46" ng-show="gender_id==2&& age>14">46</option>
                              <option style="color:black" value="48" ng-show="gender_id==2&& age>14">48</option>
                              <option style="color:black" value="50" ng-show="gender_id==2&& age>14">50</option>
                              <option style="color:black" value="52" ng-show="gender_id==2&& age>14">52</option>
                              <option style="color:black" value="54" ng-show="gender_id==2&& age>14">54</option>
                              <option style="color:black" value="56" ng-show="gender_id==2&& age>14">56</option>
                              <option style="color:black" value="58" ng-show="gender_id==2&& age>14">58</option>
                              <option style="color:black" value="86" ng-show="age <=14">86</option>
                              <option style="color:black" value="92" ng-show="age <=14">92</option>
                              <option style="color:black" value="98" ng-show="age <=14">98</option>
                              <option style="color:black" value="104" ng-show="age <=14">104</option>
                              <option style="color:black" value="110" ng-show="age <=14">110</option>
                              <option style="color:black" value="116" ng-show="age <=14">116</option>
                              <option style="color:black" value="122" ng-show="age <=14">122</option>
                              <option style="color:black" value="128" ng-show="age <=14">128</option>
                              <option style="color:black" value="134" ng-show="age <=14">134</option>
                              <option style="color:black" value="140" ng-show="age <=14">140</option>
                              <option style="color:black" value="146" ng-show="age <=14">146</option>
                              <option style="color:black" value="152" ng-show="age <=14">152</option>
                              <option style="color:black" value="158" ng-show="age <=14">158</option>
                              <option style="color:black" value="164" ng-show="age <=14">164</option>
                              <option style="color:black" value="170" ng-show="age <=14">170</option>
                            </select>
                          </div>
                        </div>
                        <div class="form_box2">
                          <div class="select-style">
                            <select ng-style="{'color':profileinfo.shirt_size_to==''?'#dadada':''}" name="shirt_size_to" class="input2" id="shirt_size_to" ng-model="profileinfo.shirt_size_to" >
                              <option value="">Skjorte til</option>
                              <option style="color:black" value="35" ng-show="gender_id==1&& age>14">35</option>
                              <option style="color:black" value="36" ng-show="gender_id==1&& age>14">36</option>
                              <option style="color:black" value="37" ng-show="gender_id==1&& age>14">37</option>
                              <option style="color:black" value="38" ng-show="gender_id==1&& age>14">38</option>
                              <option style="color:black" value="39" ng-show="gender_id==1&& age>14">39</option>
                              <option style="color:black" value="40" ng-show="gender_id==1&& age>14">40</option>
                              <option style="color:black" value="41" ng-show="gender_id==1&& age>14">41</option>
                              <option style="color:black" value="42" ng-show="gender_id==1&& age>14">42</option>
                              <option style="color:black" value="43" ng-show="gender_id==1&& age>14">43</option>
                              <option style="color:black" value="44" ng-show="gender_id==1&& age>14">44</option>
                              <option style="color:black" value="45" ng-show="gender_id==1&& age>14">45</option>
                              <option style="color:black" value="46" ng-show="gender_id==1&& age>14">46</option>
                              <option style="color:black" value="32" ng-show="gender_id==2&& age>14">32</option>
                              <option style="color:black" value="34" ng-show="gender_id==2&& age>14">34</option>
                              <option style="color:black" value="36" ng-show="gender_id==2&& age>14">36</option>
                              <option style="color:black" value="38" ng-show="gender_id==2&& age>14">38</option>
                              <option style="color:black" value="40" ng-show="gender_id==2&& age>14">40</option>
                              <option style="color:black" value="42" ng-show="gender_id==2&& age>14">42</option>
                              <option style="color:black" value="44" ng-show="gender_id==2&& age>14">44</option>
                              <option style="color:black" value="46" ng-show="gender_id==2&& age>14">46</option>
                              <option style="color:black" value="48" ng-show="gender_id==2&& age>14">48</option>
                              <option style="color:black" value="50" ng-show="gender_id==2&& age>14">50</option>
                              <option style="color:black" value="52" ng-show="gender_id==2&& age>14">52</option>
                              <option style="color:black" value="54" ng-show="gender_id==2&& age>14">54</option>
                              <option style="color:black" value="56" ng-show="gender_id==2&& age>14">56</option>
                              <option style="color:black" value="58" ng-show="gender_id==2&& age>14">58</option>
                              <option style="color:black" value="86" ng-show="age <=14">86</option>
                              <option style="color:black" value="92" ng-show="age <=14">92</option>
                              <option style="color:black" value="98" ng-show="age <=14">98</option>
                              <option style="color:black" value="104" ng-show="age <=14">104</option>
                              <option style="color:black" value="110" ng-show="age <=14">110</option>
                              <option style="color:black" value="116" ng-show="age <=14">116</option>
                              <option style="color:black" value="122" ng-show="age <=14">122</option>
                              <option style="color:black" value="128" ng-show="age <=14">128</option>
                              <option style="color:black" value="134" ng-show="age <=14">134</option>
                              <option style="color:black" value="140" ng-show="age <=14">140</option>
                              <option style="color:black" value="146" ng-show="age <=14">146</option>
                              <option style="color:black" value="152" ng-show="age <=14">152</option>
                              <option style="color:black" value="158" ng-show="age <=14">158</option>
                              <option style="color:black" value="164" ng-show="age <=14">164</option>
                              <option style="color:black" value="170" ng-show="age <=14">170</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form_box">
                      <div class="black-row">
                        <div class="form_box2">
                          <div class="select-style">
                            <select ng-style="{'color':profileinfo.pants_size_from==''?'#dadada':''}" name="pants_size_from" class="input2" id="pants_size_from" ng-model="profileinfo.pants_size_from" >
                              <option style="color:black" value="">Bukser fra</option>
                              <option style="color:black" value="26" ng-show="gender_id==1&& age>14">26"</option>
                              <option style="color:black" value="28" ng-show="gender_id==1&& age>14">28"</option>
                              <option style="color:black" value="29" ng-show="gender_id==1&& age>14">29"</option>
                              <option style="color:black" value="30" ng-show="gender_id==1&& age>14">30"</option>
                              <option style="color:black" value="31" ng-show="gender_id==1&& age>14">31"</option>
                              <option style="color:black" value="32" ng-show="gender_id==1&& age>14">32"</option>
                              <option style="color:black" value="33" ng-show="gender_id==1&& age>14">33"</option>
                              <option style="color:black" value="34" ng-show="gender_id==1&& age>14">34"</option>
                              <option style="color:black" value="36" ng-show="gender_id==1&& age>14">36"</option>
                              <option style="color:black" value="38" ng-show="gender_id==1&& age>14">38"</option>
                              <option style="color:black" value="40" ng-show="gender_id==1&& age>14">40"</option>
                              <option style="color:black" value="42" ng-show="gender_id==1&& age>14">42"</option>
                              <option style="color:black" value="32" ng-show="gender_id==2&& age>14">32</option>
                              <option style="color:black" value="34" ng-show="gender_id==2&& age>14">34</option>
                              <option style="color:black" value="36" ng-show="gender_id==2&& age>14">36</option>
                              <option style="color:black" value="38" ng-show="gender_id==2&& age>14">38</option>
                              <option style="color:black" value="40" ng-show="gender_id==2&& age>14">40</option>
                              <option style="color:black" value="42" ng-show="gender_id==2&& age>14">42</option>
                              <option style="color:black" value="44" ng-show="gender_id==2&& age>14">44</option>
                              <option style="color:black" value="46" ng-show="gender_id==2&& age>14">46</option>
                              <option style="color:black" value="48" ng-show="gender_id==2&& age>14">48</option>
                              <option style="color:black" value="50" ng-show="gender_id==2&& age>14">50</option>
                              <option style="color:black" value="52" ng-show="gender_id==2&& age>14">52</option>
                              <option style="color:black" value="54" ng-show="gender_id==2&& age>14">54</option>
                              <option style="color:black" value="56" ng-show="gender_id==2&& age>14">56</option>
                              <option style="color:black" value="58" ng-show="gender_id==2&& age>14">58</option>
                              <option style="color:black" value="86" ng-show="age <=14">86</option>
                              <option style="color:black" value="92" ng-show="age <=14">92</option>
                              <option style="color:black" value="98" ng-show="age <=14">98</option>
                              <option style="color:black" value="104" ng-show="age <=14">104</option>
                              <option style="color:black" value="110" ng-show="age <=14">110</option>
                              <option style="color:black" value="116" ng-show="age <=14">116</option>
                              <option style="color:black" value="122" ng-show="age <=14">122</option>
                              <option style="color:black" value="128" ng-show="age <=14">128</option>
                              <option style="color:black" value="134" ng-show="age <=14">134</option>
                              <option style="color:black" value="140" ng-show="age <=14">140</option>
                              <option style="color:black" value="146" ng-show="age <=14">146</option>
                              <option style="color:black" value="152" ng-show="age <=14">152</option>
                              <option style="color:black" value="158" ng-show="age <=14">158</option>
                              <option style="color:black" value="164" ng-show="age <=14">164</option>
                              <option style="color:black" value="170" ng-show="age <=14">170</option>
                            </select>
                          </div>
                        </div>
                        <div class="form_box2">
                          <div class="select-style">
                            <select ng-style="{'color':profileinfo.pants_size_to==''?'#dadada':''}"  name="pants_size_to" class="input2" id="pants_size_to" ng-model="profileinfo.pants_size_to" >
                              <option style="color:black" value="">Bukser til</option>
                              <option style="color:black" value="26" ng-show="gender_id==1&& age>14">26"</option>
                              <option style="color:black" value="28" ng-show="gender_id==1&& age>14">28"</option>
                              <option style="color:black" value="29" ng-show="gender_id==1&& age>14">29"</option>
                              <option style="color:black" value="30" ng-show="gender_id==1&& age>14">30"</option>
                              <option style="color:black" value="31" ng-show="gender_id==1&& age>14">31"</option>
                              <option style="color:black" value="32" ng-show="gender_id==1&& age>14">32"</option>
                              <option style="color:black" value="33" ng-show="gender_id==1&& age>14">33"</option>
                              <option style="color:black" value="34" ng-show="gender_id==1&& age>14">34"</option>
                              <option style="color:black" value="36" ng-show="gender_id==1&& age>14">36"</option>
                              <option style="color:black" value="38" ng-show="gender_id==1&& age>14">38"</option>
                              <option style="color:black" value="40" ng-show="gender_id==1&& age>14">40"</option>
                              <option style="color:black" value="42" ng-show="gender_id==1&& age>14">42"</option>
                              <option style="color:black" value="32" ng-show="gender_id==2&& age>14">32</option>
                              <option style="color:black" value="34" ng-show="gender_id==2&& age>14">34</option>
                              <option style="color:black" value="36" ng-show="gender_id==2&& age>14">36</option>
                              <option style="color:black" value="38" ng-show="gender_id==2&& age>14">38</option>
                              <option style="color:black" value="40" ng-show="gender_id==2&& age>14">40</option>
                              <option style="color:black" value="42" ng-show="gender_id==2&& age>14">42</option>
                              <option style="color:black" value="44" ng-show="gender_id==2&& age>14">44</option>
                              <option style="color:black" value="46" ng-show="gender_id==2&& age>14">46</option>
                              <option style="color:black" value="48" ng-show="gender_id==2&& age>14">48</option>
                              <option style="color:black" value="50" ng-show="gender_id==2&& age>14">50</option>
                              <option style="color:black" value="52" ng-show="gender_id==2&& age>14">52</option>
                              <option style="color:black" value="54" ng-show="gender_id==2&& age>14">54</option>
                              <option style="color:black" value="56" ng-show="gender_id==2&& age>14">56</option>
                              <option style="color:black" value="58" ng-show="gender_id==2&& age>14">58</option>
                              <option style="color:black" value="86" ng-show="age <=14">86</option>
                              <option style="color:black" value="92" ng-show="age <=14">92</option>
                              <option style="color:black" value="98" ng-show="age <=14">98</option>
                              <option style="color:black" value="104" ng-show="age <=14">104</option>
                              <option style="color:black" value="110" ng-show="age <=14">110</option>
                              <option style="color:black" value="116" ng-show="age <=14">116</option>
                              <option style="color:black" value="122" ng-show="age <=14">122</option>
                              <option style="color:black" value="128" ng-show="age <=14">128</option>
                              <option style="color:black" value="134" ng-show="age <=14">134</option>
                              <option style="color:black" value="140" ng-show="age <=14">140</option>
                              <option style="color:black" value="146" ng-show="age <=14">146</option>
                              <option style="color:black" value="152" ng-show="age <=14">152</option>
                              <option style="color:black" value="158" ng-show="age <=14">158</option>
                              <option style="color:black" value="164" ng-show="age <=14">164</option>
                              <option style="color:black" value="170" ng-show="age <=14">170</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form_box">
                      <div class="black-row">
                        <div class="form_box2">
                          <div class="select-style">
                            <select ng-style="{'color':profileinfo.shoe_size_from==''?'#dadada':''}" name="shoe_size_from" class="input2" id="shoe_size_from" ng-model="profileinfo.shoe_size_from" >
                              <option value="">Sko fra</option>
                              <option style="color:black" value="17">17</option>
                              <option style="color:black" value="18">18</option>
                              <option style="color:black" value="19">19</option>
                              <option style="color:black" value="20">20</option>
                              <option style="color:black" value="21">21</option>
                              <option style="color:black" value="22">22</option>
                              <option style="color:black" value="23">23</option>
                              <option style="color:black" value="24">24</option>
                              <option style="color:black" value="25">25</option>
                              <option style="color:black" value="26">26</option>
                              <option style="color:black" value="27">27</option>
                              <option style="color:black" value="28">28</option>
                              <option style="color:black" value="29">29</option>
                              <option style="color:black" value="30">30</option>
                              <option style="color:black" value="31">31</option>
                              <option style="color:black" value="32">32</option>
                              <option style="color:black" value="33">33</option>
                              <option style="color:black" value="34">34</option>
                              <option style="color:black" value="35">35</option>
                              <option style="color:black" value="36">36</option>
                              <option style="color:black" value="37">37</option>
                              <option style="color:black" value="38">38</option>
                              <option style="color:black" value="39">39</option>
                              <option style="color:black" value="40">40</option>
                              <option style="color:black" value="41">41</option>
                              <option style="color:black" value="42">42</option>
                              <option style="color:black" value="43">43</option>
                              <option style="color:black" value="44">44</option>
                              <option style="color:black" value="45">45</option>
                              <option style="color:black" value="46">46</option>
                              <option style="color:black" value="47">47</option>
                              <option style="color:black" value="48">48</option>
                              <option style="color:black" value="49">49</option>
                              <option style="color:black" value="50">50</option>
                              <option style="color:black" value="51">51</option>
                              <option style="color:black" value="52">52</option>
                              <option style="color:black" value="53">53</option>
                              <option style="color:black" value="54">54</option>
                              <option style="color:black" value="55">55</option>
                            </select>
                          </div>
                        </div>
                        <div class="form_box2">
                          <div class="select-style">
                            <select ng-style="{'color':profileinfo.shoe_size_to==''?'#dadada':''}" name="shoe_size_to" class="input2" id="shoe_size_to" ng-model="profileinfo.shoe_size_to" >
                              <option style="color:black" value="">Sko til</option>
                              <option style="color:black" value="17">17</option>
                              <option style="color:black" value="18">18</option>
                              <option style="color:black" value="19">19</option>
                              <option style="color:black" value="20">20</option>
                              <option style="color:black" value="21">21</option>
                              <option style="color:black" value="22">22</option>
                              <option style="color:black" value="23">23</option>
                              <option style="color:black" value="24">24</option>
                              <option style="color:black" value="25">25</option>
                              <option style="color:black" value="26">26</option>
                              <option style="color:black" value="27">27</option>
                              <option style="color:black" value="28">28</option>
                              <option style="color:black" value="29">29</option>
                              <option style="color:black" value="30">30</option>
                              <option style="color:black" value="31">31</option>
                              <option style="color:black" value="32">32</option>
                              <option style="color:black" value="33">33</option>
                              <option style="color:black" value="34">34</option>
                              <option style="color:black" value="35">35</option>
                              <option style="color:black" value="36">36</option>
                              <option style="color:black" value="37">37</option>
                              <option style="color:black" value="38">38</option>
                              <option style="color:black" value="39">39</option>
                              <option style="color:black" value="40">40</option>
                              <option style="color:black" value="41">41</option>
                              <option style="color:black" value="42">42</option>
                              <option style="color:black" value="43">43</option>
                              <option style="color:black" value="44">44</option>
                              <option style="color:black" value="45">45</option>
                              <option style="color:black" value="46">46</option>
                              <option style="color:black" value="47">47</option>
                              <option style="color:black" value="48">48</option>
                              <option style="color:black" value="49">49</option>
                              <option style="color:black" value="50">50</option>
                              <option style="color:black" value="51">51</option>
                              <option style="color:black" value="52">52</option>
                              <option style="color:black" value="53">53</option>
                              <option style="color:black" value="54">54</option>
                              <option style="color:black" value="55">55</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form_box" ng-show="gender_id==2&& age>14">
                      <div class="black-row">
                        <div class="form_box2">
                          <input value="{{profileinfo.bra_size}}" name="bra_size" id="bra_size" ng-model="profileinfo.bra_size" type="text" class="input2" placeholder="BH Str.">
                        </div>
                      </div>
                    </div>
                    <div class="form_box" ng-show="gender_id==1 && age>14">
                      <div class="black-row">
                        <div class="form_box2">
                          <div class="select-style">
                            <select ng-style="{'color':profileinfo.suite_size_from==''?'#dadada':''}" name="suite_size_from" class="input2" id="suite_size_from" ng-model="profileinfo.suite_size_from" >
                              <option style="color:black" value="">Jakkesæt fra</option>
                              <option style="color:black" value="44">44</option>
                              <option style="color:black" value="46">46</option>
                              <option style="color:black" value="48">48</option>
                              <option style="color:black" value="50">50</option>
                              <option style="color:black" value="52">52</option>
                              <option style="color:black" value="54">54</option>
                              <option style="color:black" value="56">56</option>
                              <option style="color:black" value="58">58</option>
                              <option style="color:black" value="60">60</option>
                              <option style="color:black" value="62">62</option>
                            </select>
                          </div>
                        </div>
                        <div class="form_box2">
                          <div class="select-style">
                            <select ng-style="{'color':profileinfo.suite_size_to==''?'#dadada':''}" name="suite_size_to" class="input2" id="suite_size_to" ng-model="profileinfo.suite_size_to" >
                              <option style="color:black" value="">Jakkesæt til</option>
                              <option style="color:black" value="44">44</option>
                              <option style="color:black" value="46">46</option>
                              <option style="color:black" value="48">48</option>
                              <option style="color:black" value="50">50</option>
                              <option style="color:black" value="52">52</option>
                              <option style="color:black" value="54">54</option>
                              <option style="color:black" value="56">56</option>
                              <option style="color:black" value="58">58</option>
                              <option style="color:black" value="60">60</option>
                              <option style="color:black" value="62">62</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--close black-cal6-->
                  <div class="black-cal6">
                    <div class="form_box">
                      <div class="black-row">
                        <div class="form_box2">
                          <input value="{{profileinfo.height}}" name="height" id="height" ng-model="profileinfo.height" type="text" class="input2" placeholder="Højde" >
                        </div>
                        <div class="form_box2">
                          <input value="{{profileinfo.weight}}" name="weight" id="weight" ng-model="profileinfo.weight" type="text" class="input2" placeholder="Vægt" >
                        </div>
                      </div>
                    </div>
                    <div class="form_box">
                      <div class="black-row">
                        <div class="form_box2">
                          <div class="select-style">
                            <select ng-style="{'color':profileinfo.hair_color_id==''?'#dadada':''}"  name="hair_color_id" class="input2" id="hair_color_id" ng-model="profileinfo.hair_color_id">
                              <option value="">Hårfarve</option>
                              <option style="color:black" value="1"  class="ng-binding ng-scope">Blonde</option>
                              <option style="color:black" value="5"  class="ng-binding ng-scope">Red</option>
                              <option style="color:black" value="3"  class="ng-binding ng-scope">Brown</option>
                              <option style="color:black" value="4"  class="ng-binding ng-scope">Black</option>
                              <option style="color:black" value="8" class="ng-binding ng-scope">White</option>
                              <option style="color:black" value="6" class="ng-binding ng-scope">Grey</option>
                              <option style="color:black" value="7" class="ng-binding ng-scope">Skinned</option>
                              <option style="color:black" value="2" class="ng-binding ng-scope">Dark blonde</option>
                              
                            </select>
                          </div>
                        </div>
                        <div class="form_box2">
                          <div class="select-style">
                            <select ng-style="{'color':profileinfo.eye_color_id==''?'#dadada':''}"  name="eye_color_id" class="input2" id="eye_color_id" ng-model="profileinfo.eye_color_id">
                              <option value="">Øjen farve</option>
                              <option style="color:black" value="1"  class="ng-binding ng-scope">Brune</option>
                              <option style="color:black" value="3"  class="ng-binding ng-scope">Grønne</option>
                              <option style="color:black" value="4"  class="ng-binding ng-scope">Blågrønne</option>
                              <option style="color:black" value="2"  class="ng-binding ng-scope">Blue</option>
                              <option style="color:black" value="5"  class="ng-binding ng-scope">Blågrå</option>
                              <option style="color:black" value="6"  class="ng-binding ng-scope">Grå</option>
                              <option style="color:black" value="7"  class="ng-binding ng-scope">Hazel</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form_box">
                      <div class="black-row">
                        <div class="form_box2" ng-show="age<=14">
                          <div class="select-style">
                            <select ng-style="{'color':profileinfo.children_sizes==''?'#dadada':''}" name="children_sizes" class="input2" id="children_sizes" ng-model="profileinfo.children_sizes">
                              <option value="">Børne str. til</option>
                              <option style="color:black" value="1">1</option>
                              <option style="color:black" value="2">2</option>
                              <option style="color:black" value="3">3</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--close black-cal4-->
                </div>
                <!--close black-row-->
              </div>
              <!--close black-rightbar-->
            </div>
            <!--close black-row-->
          </div>
          <!--close black-section-->
          <div class="black-numbers">
            <span class="span3">
            <em>03</em>/06</span>
          </div>
        </div>
        <!--close section-middle-->
        <div class="section-bottom">
          <div class="blackpage-controller">
            
            <a href="#/my-profile_2" class="black-prev">FORRIGE SIDE</a>
            <button ng-disabled="profile_ansog_form3.$touched" type="submit" class="black-next">NÆSTE SIDE</button>
          </div>
        </div>
        <!--close section-bottom-->
      </div>
      <!--close page-black-->
    </form>
  </div>
  <!--close content-->
</div>
<!--close wrapper-->