<style>

/* Styling Checkbox Starts */
.checkbox-label {
    display: block;
    position: relative;
    /* margin: auto; */
    cursor: pointer;
    /* font-size: 22px; */
    line-height: 20px;
    /* height: 20px; */
    /* width: 20px; */
    clear: both;
}

.checkbox-label input {
    /* position: absolute; */
    opacity: 0;
    cursor: pointer;
    width: 20px;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 2px;
  	transition: all 0.3s ease-out;
  	-webkit-transition: all 0.3s ease-out;
  	-moz-transition: all 0.3s ease-out;
  	-ms-transition: all 0.3s ease-out;
  	-o-transition: all 0.3s ease-out;
    border: 2px solid #a9a9a9;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: transparent;
    border-radius: 2px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #a9a9a9;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 2px;
    border: solid #a9a9a9;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
  	transition: all 0.3s ease-out;
  	-webkit-transition: all 0.3s ease-out;
  	-moz-transition: all 0.3s ease-out;
  	-ms-transition: all 0.3s ease-out;
  	-o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 7px;
  top: 3px;
  width: 4px;
  height: 10px;
  border: solid #a9a9a9;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 2px;
}



/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 2px;
    border: 2px solid #a9a9a9;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);	
}

.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
  	-webkit-transition: all 0.3s ease-out;
  	-moz-transition: all 0.3s ease-out;
  	-ms-transition: all 0.3s ease-out;
  	-o-transition: all 0.3s ease-out;
}
</style>
<div ng-controller="MyProfileController3" class="ansog1 full-width-page full-screen-black-box">
  <div id="content" class="wrap2">
    <form name="profile_update_form3" id="profile_ansog_form3" ng-submit="step3Update()">
      <div class="page-black livetitle">

          <div class="show-xs main-menu-header show-xs">
              <img src="images/CASTIT_LOGO_RGB_white.svg" style="width:40%"/>
              <a style=" padding-right: 0; line-height: 20px; display: inline-flex; " href="/#/index{{ isDanish ? '/da' : '/en'}}"
                   class="poup-close2 popup-close-btn">{{ isDanish ? 'LUK' : 'CLOSE' }} <img style=" width: 20px; height: 15px; " src="images/svgs/lukw1.svg" alt=""></a>
         </div>
         
         <div class="section-top">
              <!-- <h2>{{ isDanish ? 'Ansøgningsskema' : 'Application form' }}</h2> -->
              <h2>{{ profileinfo.first_name }} {{ profileinfo.last_name }} - {{ profileinfo.profile_number }}</h2>
              <div class="black-right hide-xs">
                   <a style=" padding-right: 0; line-height: 20px; display: inline-flex; " href="#/index{{isDanish ? '/da' : '/en'}}" class="black-close">{{ isDanish ? 'luk' : 'Close' }} <img style=" width: 20px; height: 15px; " src="images/svgs/lukw1.svg" alt=""></a>
              </div>
         </div>

        <!--close section-top-->
        <div class="section-middle">
          <div class="black-section">
            <div class="black-row">
              <div class="black-leftbar">
                <p ng-if="isDanish">For at opdatere din profil bedes du udfylde felterne og klikke videre til næste
                  side.</p>
                <p ng-if="!isDanish">To update your profile please fill out the fields and continue to the next page.
                </p>
              </div>
              <!--close black-leftbar-->
              <div class="black-rightbar  livetitle">
                <h3>{{ isDanish ? 'PERSONLIG INFO' : 'PERSONAL INFO' }}</h3>
                <h3>
                  <label class="checkbox-label">
                      <input id="showKidSizes" type="checkbox" ng-model="showKidSizes">
                      <span class="checkbox-custom rectangular"></span>
                      {{ isDanish ? 'Vis børnestørrelser' : 'Show children sizes' }}
                  </label>
                </h3>
                <div class="black-row">
                  <div class="black-cal6">
                    <div class="form_box">
                      <div class="black-row">
                        <div class="form_box2">
                        </div>
                        <div class="form_box2">
                          <label class="ansog_select_label">{{ isDanish ? 'SKJORTE FRA' : 'Shirt from' }}</label>
                          <div class="select-style">
                            <select ng-style="{'color':shirt_size_from==''?'#dadada':''}" name="shirt_size_from"
                              class="input2" id="shirt_size_from" ng-model="profileinfo.shirt_size_from">
                              <!-- <option value="">{{ isDanish ? 'Skjorte fra' : 'Shirt from' }}</option> -->
                              <option value=""> </option>
                              <option style="color:black" value="35" ng-if="gender_id==1&& !showKidSizes">35</option>
                              <option style="color:black" value="36" ng-if="gender_id==1&& !showKidSizes">36</option>
                              <option style="color:black" value="37" ng-if="gender_id==1&& !showKidSizes">37</option>
                              <option style="color:black" value="38" ng-if="gender_id==1&& !showKidSizes">38</option>
                              <option style="color:black" value="39" ng-if="gender_id==1&& !showKidSizes">39</option>
                              <option style="color:black" value="40" ng-if="gender_id==1&& !showKidSizes">40</option>
                              <option style="color:black" value="41" ng-if="gender_id==1&& !showKidSizes">41</option>
                              <option style="color:black" value="42" ng-if="gender_id==1&& !showKidSizes">42</option>
                              <option style="color:black" value="43" ng-if="gender_id==1&& !showKidSizes">43</option>
                              <option style="color:black" value="44" ng-if="gender_id==1&& !showKidSizes">44</option>
                              <option style="color:black" value="45" ng-if="gender_id==1&& !showKidSizes">45</option>
                              <option style="color:black" value="46" ng-if="gender_id==1&& !showKidSizes">46</option>
                              <option style="color:black" value="32" ng-if="gender_id==2&& !showKidSizes">32</option>
                              <option style="color:black" value="34" ng-if="gender_id==2&& !showKidSizes">34</option>
                              <option style="color:black" value="36" ng-if="gender_id==2&& !showKidSizes">36</option>
                              <option style="color:black" value="38" ng-if="gender_id==2&& !showKidSizes">38</option>
                              <option style="color:black" value="40" ng-if="gender_id==2&& !showKidSizes">40</option>
                              <option style="color:black" value="42" ng-if="gender_id==2&& !showKidSizes">42</option>
                              <option style="color:black" value="44" ng-if="gender_id==2&& !showKidSizes">44</option>
                              <option style="color:black" value="46" ng-if="gender_id==2&& !showKidSizes">46</option>
                              <option style="color:black" value="48" ng-if="gender_id==2&& !showKidSizes">48</option>
                              <option style="color:black" value="50" ng-if="gender_id==2&& !showKidSizes">50</option>
                              <option style="color:black" value="52" ng-if="gender_id==2&& !showKidSizes">52</option>
                              <option style="color:black" value="54" ng-if="gender_id==2&& !showKidSizes">54</option>
                              <option style="color:black" value="56" ng-if="gender_id==2&& !showKidSizes">56</option>
                              <option style="color:black" value="58" ng-if="gender_id==2&& !showKidSizes">58</option>
                              <option style="color:black" value="86" ng-if="showKidSizes">86</option>
                              <option style="color:black" value="92" ng-if="showKidSizes">92</option>
                              <option style="color:black" value="98" ng-if="showKidSizes">98</option>
                              <option style="color:black" value="104" ng-if="showKidSizes">104</option>
                              <option style="color:black" value="110" ng-if="showKidSizes">110</option>
                              <option style="color:black" value="116" ng-if="showKidSizes">116</option>
                              <option style="color:black" value="122" ng-if="showKidSizes">122</option>
                              <option style="color:black" value="128" ng-if="showKidSizes">128</option>
                              <option style="color:black" value="134" ng-if="showKidSizes">134</option>
                              <option style="color:black" value="140" ng-if="showKidSizes">140</option>
                              <option style="color:black" value="146" ng-if="showKidSizes">146</option>
                              <option style="color:black" value="152" ng-if="showKidSizes">152</option>
                              <option style="color:black" value="158" ng-if="showKidSizes">158</option>
                              <option style="color:black" value="164" ng-if="showKidSizes">164</option>
                              <option style="color:black" value="170" ng-if="showKidSizes">170</option>
                            </select>
                          </div>
                        </div>
                        <div class="form_box2">
                          <label class="ansog_select_label">{{ isDanish ? 'Skjorte til' : 'Shirt to' }}</label>
                          <div class="select-style">
                            <select ng-style="{'color':profileinfo.shirt_size_to==''?'#dadada':''}" name="shirt_size_to"
                              class="input2" id="shirt_size_to" ng-model="profileinfo.shirt_size_to">
                              <!-- <option value="">{{ isDanish ? 'Skjorte til' : 'Shirt to' }}</option> -->
                              <option value=""> </option>
                              <option style="color:black" value="35" ng-if="gender_id==1&& !showKidSizes">35</option>
                              <option style="color:black" value="36" ng-if="gender_id==1&& !showKidSizes">36</option>
                              <option style="color:black" value="37" ng-if="gender_id==1&& !showKidSizes">37</option>
                              <option style="color:black" value="38" ng-if="gender_id==1&& !showKidSizes">38</option>
                              <option style="color:black" value="39" ng-if="gender_id==1&& !showKidSizes">39</option>
                              <option style="color:black" value="40" ng-if="gender_id==1&& !showKidSizes">40</option>
                              <option style="color:black" value="41" ng-if="gender_id==1&& !showKidSizes">41</option>
                              <option style="color:black" value="42" ng-if="gender_id==1&& !showKidSizes">42</option>
                              <option style="color:black" value="43" ng-if="gender_id==1&& !showKidSizes">43</option>
                              <option style="color:black" value="44" ng-if="gender_id==1&& !showKidSizes">44</option>
                              <option style="color:black" value="45" ng-if="gender_id==1&& !showKidSizes">45</option>
                              <option style="color:black" value="46" ng-if="gender_id==1&& !showKidSizes">46</option>
                              <option style="color:black" value="32" ng-if="gender_id==2&& !showKidSizes">32</option>
                              <option style="color:black" value="34" ng-if="gender_id==2&& !showKidSizes">34</option>
                              <option style="color:black" value="36" ng-if="gender_id==2&& !showKidSizes">36</option>
                              <option style="color:black" value="38" ng-if="gender_id==2&& !showKidSizes">38</option>
                              <option style="color:black" value="40" ng-if="gender_id==2&& !showKidSizes">40</option>
                              <option style="color:black" value="42" ng-if="gender_id==2&& !showKidSizes">42</option>
                              <option style="color:black" value="44" ng-if="gender_id==2&& !showKidSizes">44</option>
                              <option style="color:black" value="46" ng-if="gender_id==2&& !showKidSizes">46</option>
                              <option style="color:black" value="48" ng-if="gender_id==2&& !showKidSizes">48</option>
                              <option style="color:black" value="50" ng-if="gender_id==2&& !showKidSizes">50</option>
                              <option style="color:black" value="52" ng-if="gender_id==2&& !showKidSizes">52</option>
                              <option style="color:black" value="54" ng-if="gender_id==2&& !showKidSizes">54</option>
                              <option style="color:black" value="56" ng-if="gender_id==2&& !showKidSizes">56</option>
                              <option style="color:black" value="58" ng-if="gender_id==2&& !showKidSizes">58</option>
                              <option style="color:black" value="86" ng-if="showKidSizes">86</option>
                              <option style="color:black" value="92" ng-if="showKidSizes">92</option>
                              <option style="color:black" value="98" ng-if="showKidSizes">98</option>
                              <option style="color:black" value="104" ng-if="showKidSizes">104</option>
                              <option style="color:black" value="110" ng-if="showKidSizes">110</option>
                              <option style="color:black" value="116" ng-if="showKidSizes">116</option>
                              <option style="color:black" value="122" ng-if="showKidSizes">122</option>
                              <option style="color:black" value="128" ng-if="showKidSizes">128</option>
                              <option style="color:black" value="134" ng-if="showKidSizes">134</option>
                              <option style="color:black" value="140" ng-if="showKidSizes">140</option>
                              <option style="color:black" value="146" ng-if="showKidSizes">146</option>
                              <option style="color:black" value="152" ng-if="showKidSizes">152</option>
                              <option style="color:black" value="158" ng-if="showKidSizes">158</option>
                              <option style="color:black" value="164" ng-if="showKidSizes">164</option>
                              <option style="color:black" value="170" ng-if="showKidSizes">170</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form_box">
                      <div class="black-row">
                        <div class="form_box2">
                          <label class="ansog_select_label">{{ isDanish ? 'Bukser fra' : 'Pants from' }}</label>
                          <div class="select-style">
                            <select ng-style="{'color':profileinfo.pants_size_from==''?'#dadada':''}"
                              name="pants_size_from" class="input2" id="pants_size_from"
                              ng-model="profileinfo.pants_size_from">
                              <!-- <option style="color:black" value="">{{ isDanish ? 'Bukser fra' : 'Trouser size from' }}</option> -->
                              <option value=""> </option>
                              <option style="color:black" value="26" ng-if="gender_id==1&& !showKidSizes">26"</option>
                              <option style="color:black" value="27" ng-if="gender_id==1&& !showKidSizes">27"</option>
                              <option style="color:black" value="28" ng-if="gender_id==1&& !showKidSizes">28"</option>
                              <option style="color:black" value="29" ng-if="gender_id==1&& !showKidSizes">29"</option>
                              <option style="color:black" value="30" ng-if="gender_id==1&& !showKidSizes">30"</option>
                              <option style="color:black" value="31" ng-if="gender_id==1&& !showKidSizes">31"</option>
                              <option style="color:black" value="32" ng-if="gender_id==1&& !showKidSizes">32"</option>
                              <option style="color:black" value="33" ng-if="gender_id==1&& !showKidSizes">33"</option>
                              <option style="color:black" value="34" ng-if="gender_id==1&& !showKidSizes">34"</option>
                              <option style="color:black" value="36" ng-if="gender_id==1&& !showKidSizes">36"</option>
                              <option style="color:black" value="38" ng-if="gender_id==1&& !showKidSizes">38"</option>
                              <option style="color:black" value="40" ng-if="gender_id==1&& !showKidSizes">40"</option>
                              <option style="color:black" value="42" ng-if="gender_id==1&& !showKidSizes">42"</option>
                              <option style="color:black" value="32" ng-if="gender_id==2&& !showKidSizes">32"</option>
                              <option style="color:black" value="34" ng-if="gender_id==2&& !showKidSizes">34"</option>
                              <option style="color:black" value="36" ng-if="gender_id==2&& !showKidSizes">36"</option>
                              <option style="color:black" value="38" ng-if="gender_id==2&& !showKidSizes">38"</option>
                              <option style="color:black" value="40" ng-if="gender_id==2&& !showKidSizes">40"</option>
                              <option style="color:black" value="42" ng-if="gender_id==2&& !showKidSizes">42"</option>
                              <option style="color:black" value="44" ng-if="gender_id==2&& !showKidSizes">44"</option>
                              <option style="color:black" value="46" ng-if="gender_id==2&& !showKidSizes">46"</option>
                              <option style="color:black" value="48" ng-if="gender_id==2&& !showKidSizes">48"</option>
                              <option style="color:black" value="50" ng-if="gender_id==2&& !showKidSizes">50"</option>
                              <option style="color:black" value="52" ng-if="gender_id==2&& !showKidSizes">52"</option>
                              <option style="color:black" value="54" ng-if="gender_id==2&& !showKidSizes">54"</option>
                              <option style="color:black" value="56" ng-if="gender_id==2&& !showKidSizes">56"</option>
                              <option style="color:black" value="58" ng-if="gender_id==2&& !showKidSizes">58"</option>
                              <option style="color:black" value="86" ng-if="showKidSizes">86</option>
                              <option style="color:black" value="92" ng-if="showKidSizes">92</option>
                              <option style="color:black" value="98" ng-if="showKidSizes">98</option>
                              <option style="color:black" value="104" ng-if="showKidSizes">104</option>
                              <option style="color:black" value="110" ng-if="showKidSizes">110</option>
                              <option style="color:black" value="116" ng-if="showKidSizes">116</option>
                              <option style="color:black" value="122" ng-if="showKidSizes">122</option>
                              <option style="color:black" value="128" ng-if="showKidSizes">128</option>
                              <option style="color:black" value="134" ng-if="showKidSizes">134</option>
                              <option style="color:black" value="140" ng-if="showKidSizes">140</option>
                              <option style="color:black" value="146" ng-if="showKidSizes">146</option>
                              <option style="color:black" value="152" ng-if="showKidSizes">152</option>
                              <option style="color:black" value="158" ng-if="showKidSizes">158</option>
                              <option style="color:black" value="164" ng-if="showKidSizes">164</option>
                              <option style="color:black" value="170" ng-if="showKidSizes">170</option>
                            </select>
                          </div>
                        </div>
                        <div class="form_box2">
                          <label class="ansog_select_label">{{ isDanish ? 'Bukser til' : 'Pants to' }}</label>
                          <div class="select-style">
                            <select ng-style="{'color':profileinfo.pants_size_to==''?'#dadada':''}" name="pants_size_to"
                              class="input2" id="pants_size_to" ng-model="profileinfo.pants_size_to">
                              <!-- <option style="color:black" value="">{{ isDanish ? 'Bukser til' : 'Trouser size to' }}</option> -->
                              <option value=""> </option>
                              <option style="color:black" value="26" ng-if="gender_id==1&& !showKidSizes">26"</option>
                              <option style="color:black" value="27" ng-if="gender_id==1&& !showKidSizes">27"</option>
                              <option style="color:black" value="28" ng-if="gender_id==1&& !showKidSizes">28"</option>
                              <option style="color:black" value="29" ng-if="gender_id==1&& !showKidSizes">29"</option>
                              <option style="color:black" value="30" ng-if="gender_id==1&& !showKidSizes">30"</option>
                              <option style="color:black" value="31" ng-if="gender_id==1&& !showKidSizes">31"</option>
                              <option style="color:black" value="32" ng-if="gender_id==1&& !showKidSizes">32"</option>
                              <option style="color:black" value="33" ng-if="gender_id==1&& !showKidSizes">33"</option>
                              <option style="color:black" value="34" ng-if="gender_id==1&& !showKidSizes">34"</option>
                              <option style="color:black" value="36" ng-if="gender_id==1&& !showKidSizes">36"</option>
                              <option style="color:black" value="38" ng-if="gender_id==1&& !showKidSizes">38"</option>
                              <option style="color:black" value="40" ng-if="gender_id==1&& !showKidSizes">40"</option>
                              <option style="color:black" value="42" ng-if="gender_id==1&& !showKidSizes">42"</option>
                              <option style="color:black" value="32" ng-if="gender_id==2&& !showKidSizes">32"</option>
                              <option style="color:black" value="34" ng-if="gender_id==2&& !showKidSizes">34"</option>
                              <option style="color:black" value="36" ng-if="gender_id==2&& !showKidSizes">36"</option>
                              <option style="color:black" value="38" ng-if="gender_id==2&& !showKidSizes">38"</option>
                              <option style="color:black" value="40" ng-if="gender_id==2&& !showKidSizes">40"</option>
                              <option style="color:black" value="42" ng-if="gender_id==2&& !showKidSizes">42"</option>
                              <option style="color:black" value="44" ng-if="gender_id==2&& !showKidSizes">44"</option>
                              <option style="color:black" value="46" ng-if="gender_id==2&& !showKidSizes">46"</option>
                              <option style="color:black" value="48" ng-if="gender_id==2&& !showKidSizes">48"</option>
                              <option style="color:black" value="50" ng-if="gender_id==2&& !showKidSizes">50"</option>
                              <option style="color:black" value="52" ng-if="gender_id==2&& !showKidSizes">52"</option>
                              <option style="color:black" value="54" ng-if="gender_id==2&& !showKidSizes">54"</option>
                              <option style="color:black" value="56" ng-if="gender_id==2&& !showKidSizes">56"</option>
                              <option style="color:black" value="58" ng-if="gender_id==2&& !showKidSizes">58"</option>
                              <option style="color:black" value="86" ng-if="showKidSizes">86</option>
                              <option style="color:black" value="92" ng-if="showKidSizes">92</option>
                              <option style="color:black" value="98" ng-if="showKidSizes">98</option>
                              <option style="color:black" value="104" ng-if="showKidSizes">104</option>
                              <option style="color:black" value="110" ng-if="showKidSizes">110</option>
                              <option style="color:black" value="116" ng-if="showKidSizes">116</option>
                              <option style="color:black" value="122" ng-if="showKidSizes">122</option>
                              <option style="color:black" value="128" ng-if="showKidSizes">128</option>
                              <option style="color:black" value="134" ng-if="showKidSizes">134</option>
                              <option style="color:black" value="140" ng-if="showKidSizes">140</option>
                              <option style="color:black" value="146" ng-if="showKidSizes">146</option>
                              <option style="color:black" value="152" ng-if="showKidSizes">152</option>
                              <option style="color:black" value="158" ng-if="showKidSizes">158</option>
                              <option style="color:black" value="164" ng-if="showKidSizes">164</option>
                              <option style="color:black" value="170" ng-if="showKidSizes">170</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form_box">
                      <div class="black-row">
                        <div class="form_box2">
                          <label class="ansog_select_label">{{ isDanish ? 'Sko fra' : 'Shoes from' }}</label>
                          <div class="select-style">
                            <select ng-style="{'color':profileinfo.shoe_size_from==''?'#dadada':''}"
                              name="shoe_size_from" class="input2" id="shoe_size_from"
                              ng-model="profileinfo.shoe_size_from">
                              <!-- <option value="">{{ isDanish ? 'Sko fra' : 'Shoe size from' }}</option> -->
                              <option value=""></option>
                              <option style="color:black" ng-if="showKidSizes" value="17">17</option>
                              <option style="color:black" ng-if="showKidSizes" value="18">18</option>
                              <option style="color:black" ng-if="showKidSizes" value="19">19</option>
                              <option style="color:black" ng-if="showKidSizes" value="20">20</option>
                              <option style="color:black" ng-if="showKidSizes" value="21">21</option>
                              <option style="color:black" ng-if="showKidSizes" value="22">22</option>
                              <option style="color:black" ng-if="showKidSizes" value="23">23</option>
                              <option style="color:black" ng-if="showKidSizes" value="24">24</option>
                              <option style="color:black" ng-if="showKidSizes" value="25">25</option>
                              <option style="color:black" ng-if="showKidSizes" value="26">26</option>
                              <option style="color:black" ng-if="showKidSizes" value="27">27</option>
                              <option style="color:black" ng-if="showKidSizes" value="28">28</option>
                              <option style="color:black" ng-if="showKidSizes" value="29">29</option>
                              <option style="color:black" ng-if="showKidSizes" value="30">30</option>
                              <option style="color:black" ng-if="showKidSizes" value="31">31</option>
                              <option style="color:black" ng-if="showKidSizes" value="32">32</option>
                              <option style="color:black" ng-if="showKidSizes" value="33">33</option>
                              <option style="color:black" value="34">34</option>
                              <option style="color:black" value="35">35</option>
                              <option style="color:black" value="36">36</option>
                              <option style="color:black" value="37">37</option>
                              <option style="color:black" value="38">38</option>
                              <option style="color:black" value="39">39</option>
                              <option style="color:black" value="40">40</option>
                              <option style="color:black" value="41">41</option>
                              <option style="color:black" value="42">42</option>
                              <option style="color:black" ng-if="!showKidSizes" value="43">43</option>
                              <option style="color:black" ng-if="!showKidSizes" value="44">44</option>
                              <option style="color:black" ng-if="!showKidSizes" value="45">45</option>
                              <option style="color:black" ng-if="!showKidSizes" value="46">46</option>
                              <option style="color:black" ng-if="!showKidSizes" value="47">47</option>
                              <option style="color:black" ng-if="!showKidSizes" value="48">48</option>
                              <option style="color:black" ng-if="gender_id==1&&!showKidSizes" value="49">49</option>
                              <option style="color:black" ng-if="gender_id==1&&!showKidSizes" value="50">50</option>
                              <option style="color:black" ng-if="gender_id==1&&!showKidSizes" value="51">51</option>
                              <option style="color:black" ng-if="gender_id==1&&!showKidSizes" value="52">52</option>
                              <option style="color:black" ng-if="gender_id==1&&!showKidSizes" value="53">53</option>
                              <option style="color:black" ng-if="gender_id==1&&!showKidSizes" value="54">54</option>
                              <option style="color:black" ng-if="gender_id==1&&!showKidSizes" value="55">55</option>
                            </select>
                          </div>
                        </div>
                        <div class="form_box2">
                          <label class="ansog_select_label">{{ isDanish ? 'Sko til' : 'Shoes to' }}</label>
                          <div class="select-style">
                            <select ng-style="{'color':profileinfo.shoe_size_to==''?'#dadada':''}" name="shoe_size_to"
                              class="input2" id="shoe_size_to" ng-model="profileinfo.shoe_size_to">
                              <!-- <option style="color:black" value="">{{ isDanish ? 'Sko til' : 'Shoe size to' }}</option> -->
                              <option value=""></option>
                              <option style="color:black" ng-if="showKidSizes" value="17">17</option>
                              <option style="color:black" ng-if="showKidSizes" value="18">18</option>
                              <option style="color:black" ng-if="showKidSizes" value="19">19</option>
                              <option style="color:black" ng-if="showKidSizes" value="20">20</option>
                              <option style="color:black" ng-if="showKidSizes" value="21">21</option>
                              <option style="color:black" ng-if="showKidSizes" value="22">22</option>
                              <option style="color:black" ng-if="showKidSizes" value="23">23</option>
                              <option style="color:black" ng-if="showKidSizes" value="24">24</option>
                              <option style="color:black" ng-if="showKidSizes" value="25">25</option>
                              <option style="color:black" ng-if="showKidSizes" value="26">26</option>
                              <option style="color:black" ng-if="showKidSizes" value="27">27</option>
                              <option style="color:black" ng-if="showKidSizes" value="28">28</option>
                              <option style="color:black" ng-if="showKidSizes" value="29">29</option>
                              <option style="color:black" ng-if="showKidSizes" value="30">30</option>
                              <option style="color:black" ng-if="showKidSizes" value="31">31</option>
                              <option style="color:black" ng-if="showKidSizes" value="32">32</option>
                              <option style="color:black" ng-if="showKidSizes" value="33">33</option>
                              <option style="color:black" value="34">34</option>
                              <option style="color:black" value="35">35</option>
                              <option style="color:black" value="36">36</option>
                              <option style="color:black" value="37">37</option>
                              <option style="color:black" value="38">38</option>
                              <option style="color:black" value="39">39</option>
                              <option style="color:black" value="40">40</option>
                              <option style="color:black" value="41">41</option>
                              <option style="color:black" value="42">42</option>
                              <option style="color:black" ng-if="!showKidSizes" value="43">43</option>
                              <option style="color:black" ng-if="!showKidSizes" value="44">44</option>
                              <option style="color:black" ng-if="!showKidSizes" value="45">45</option>
                              <option style="color:black" ng-if="!showKidSizes" value="46">46</option>
                              <option style="color:black" ng-if="!showKidSizes" value="47">47</option>
                              <option style="color:black" ng-if="!showKidSizes" value="48">48</option>
                              <option style="color:black" ng-if="gender_id==1&&!showKidSizes" value="49">49</option>
                              <option style="color:black" ng-if="gender_id==1&&!showKidSizes" value="50">50</option>
                              <option style="color:black" ng-if="gender_id==1&&!showKidSizes" value="51">51</option>
                              <option style="color:black" ng-if="gender_id==1&&!showKidSizes" value="52">52</option>
                              <option style="color:black" ng-if="gender_id==1&&!showKidSizes" value="53">53</option>
                              <option style="color:black" ng-if="gender_id==1&&!showKidSizes" value="54">54</option>
                              <option style="color:black" ng-if="gender_id==1&&!showKidSizes" value="55">55</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form_box" ng-if="gender_id==2&& !showKidSizes">
                      <div class="black-row">

                        <div class="form_box2">
                          <label class="ansog_select_label">{{ isDanish ? 'BH STR.' : 'Bra size' }}</label>
                          <input name="bra_size" id="bra_size" ng-model="profileinfo.bra_size" type="text"
                            class="input2" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form_box" ng-if="gender_id==1 && !showKidSizes">
                      <div class="black-row">
                        <div class="form_box2">
                          <label class="ansog_select_label">{{ isDanish ? 'Jakkesæt fra' : 'Suit from' }}</label>
                          <div class="select-style">
                            <select ng-style="{'color':profileinfo.suite_size_from==''?'#dadada':''}"
                              name="suite_size_from" class="input2" id="suite_size_from"
                              ng-model="profileinfo.suite_size_from">
                              <!-- <option style="color:black" value="">{{ isDanish ? 'Jakkesæt fra.' : 'Suit size from' }}</option> -->
                              <option value=""> </option>
                              <option style="color:black" value="44">44</option>
                              <option style="color:black" value="46">46</option>
                              <option style="color:black" value="48">48</option>
                              <option style="color:black" value="50">50</option>
                              <option style="color:black" value="52">52</option>
                              <option style="color:black" value="54">54</option>
                              <option style="color:black" value="56">56</option>
                              <option style="color:black" value="58">58</option>
                              <option style="color:black" value="60">60</option>
                              <option style="color:black" value="62">62</option>
                            </select>
                          </div>
                        </div>
                        <div class="form_box2">
                          <label class="ansog_select_label">{{ isDanish ? 'Jakkesæt til' : 'Suit to' }}</label>
                          <div class="select-style">
                            <select ng-style="{'color':profileinfo.suite_size_to==''?'#dadada':''}" name="suite_size_to"
                              class="input2" id="suite_size_to" ng-model="profileinfo.suite_size_to">
                              <!-- <option style="color:black" value="">{{ isDanish ? 'Jakkesæt til' : 'Suit size to' }}</option> -->
                              <option value=""> </option>
                              <option style="color:black" value="44">44</option>
                              <option style="color:black" value="46">46</option>
                              <option style="color:black" value="48">48</option>
                              <option style="color:black" value="50">50</option>
                              <option style="color:black" value="52">52</option>
                              <option style="color:black" value="54">54</option>
                              <option style="color:black" value="56">56</option>
                              <option style="color:black" value="58">58</option>
                              <option style="color:black" value="60">60</option>
                              <option style="color:black" value="62">62</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--close black-cal6-->
                  <div class="black-cal6">
                    <div class="form_box">
                      <div class="black-row">
                        <div class="form_box2">
                          <label class="ansog_select_label">{{ isDanish ? 'Højde' : 'Height' }}</label>
                          <input value="{{profileinfo.height}}" name="height" id="height" ng-model="profileinfo.height"
                            type="text" class="input2" placeholder="">
                        </div>
                        <div class="form_box2">
                          <label class="ansog_select_label">{{ isDanish ? 'Vægt' : 'Weight' }}</label>
                          <input value="{{profileinfo.weight}}" name="weight" id="weight" ng-model="profileinfo.weight"
                            type="text" class="input2" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form_box">
                      <div class="black-row">
                        <div class="form_box2">
                          <label class="ansog_select_label">{{ isDanish ? 'Hårfarve' : 'Hair color' }}</label>
                          <div class="select-style">
                            <select ng-style="{'color':profileinfo.hair_color_id==''?'#dadada':''}" name="hair_color_id"
                              class="input2" id="hair_color_id" ng-model="profileinfo.hair_color_id">
                              <!-- <option value="">{{ isDanish ? 'Hårfarve' : 'Hair color' }}</option> -->
                              <option value=""> </option>
                              <option style="color:black" value="1" class="ng-binding ng-scope">
                                {{ isDanish ? "Blond" : "Blonde" }}</option>
                              <option style="color:black" value="5" class="ng-binding ng-scope">
                                {{ isDanish ? "Rød" : "Red" }}</option>
                              <option style="color:black" value="3" class="ng-binding ng-scope">
                                {{ isDanish ? "Brun" : "Brown" }}</option>
                              <option style="color:black" value="4" class="ng-binding ng-scope">
                                {{ isDanish ? "Sort" : "Black" }}</option>
                              <option style="color:black" value="8" class="ng-binding ng-scope">
                                {{ isDanish ? "Hvid" : "White" }}</option>
                              <option style="color:black" value="6" class="ng-binding ng-scope">
                                {{ isDanish ? "Grå" : "Grey" }}</option>
                              <option style="color:black" value="7" class="ng-binding ng-scope">
                                {{ isDanish ? "Skaldet" : "Skinned" }}</option>
                              <option style="color:black" value="2" class="ng-binding ng-scope">
                                {{ isDanish ? "Mørke blond" : "Dark blonde" }}</option>

                            </select>
                          </div>
                        </div>
                        <div class="form_box2">
                          <label class="ansog_select_label">{{ isDanish ? 'Øjen farve' : 'Eye color' }}</label>
                          <div class="select-style">
                            <select ng-style="{'color':profileinfo.eye_color_id==''?'#dadada':''}" name="eye_color_id"
                              class="input2" id="eye_color_id" ng-model="profileinfo.eye_color_id">
                              <!-- <option value="">{{ isDanish ? 'Øjen farve' : 'Eye color' }}</option> -->
                              <option value=""> </option>
                              <option style="color:black" value="1" class="ng-binding ng-scope">
                                {{ isDanish ? "Brun" : "Brown" }}</option>
                              <option style="color:black" value="3" class="ng-binding ng-scope">
                                {{ isDanish ? "Grønne" : "Green" }}</option>
                              <option style="color:black" value="4" class="ng-binding ng-scope">
                                {{ isDanish ? "Blågrønne" : "Bluegreen" }}</option>
                              <option style="color:black" value="2" class="ng-binding ng-scope">
                                {{ isDanish ? "Blå" : "Blue" }}</option>
                              <option style="color:black" value="5" class="ng-binding ng-scope">
                                {{ isDanish ? "Blågrå" : "Bluegrey" }}</option>
                              <option style="color:black" value="6" class="ng-binding ng-scope">
                                {{ isDanish ? "Grå" : "Grey" }}</option>
                              <option style="color:black" value="7" class="ng-binding ng-scope">
                                {{ isDanish ? "Hazel" : "Hazel" }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="form_box">
                      <div class="black-row">
                        <div class="form_box2" ng-if="age<=14">
                            <label class="ansog_select_label">{{ isDanish ? 'Børne str.' : 'Kids size' }}</label>
                          <div class="select-style">
                            <select ng-style="{'color':profileinfo.children_sizes==''?'#dadada':''}" name="children_sizes" class="input2" id="children_sizes" ng-model="profileinfo.children_sizes">
                              <option value="">{{ isDanish ? 'Børne str. til' : 'Kids size to' }}</option>
                              <option style="color:black" value="1">1</option>
                              <option style="color:black" value="2">2</option>
                              <option style="color:black" value="3">3</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div> -->
                  </div>
                  <!--close black-cal4-->
                </div>
                <!--close black-row-->
              </div>
              <!--close black-rightbar-->
            </div>
            <!--close black-row-->
          </div>
          <!--close black-section-->
          <div class="black-numbers hide-xs">
            <span class="span3">
              <em>03</em>/06</span>
          </div>
        </div>
        <!--close section-middle-->
        <div class="section-bottom flex-footer">
          <div class="black-numbers mobile-pager show-xs"><span class="span3"><em>03</em>/06</span></div>
          <div class="blackpage-controller">
            <a href="#/my-profile_2{{isDanish ? '/da' : '/en'}}"
              class="black-prev">{{ isDanish ? 'FORRIGE SIDE' : 'PREVIOUS PAGE' }}</a>
            <button ng-disabled="profile_ansog_form3.$touched" type="submit"
              class="black-next">{{ isDanish ? 'NÆSTE SIDE' : 'NEXT PAGE' }}</button>
          </div>
        </div>
        <!--close section-bottom-->
      </div>
      <!--close page-black-->
    </form>
  </div>
  <!--close content-->
</div>
<!--close wrapper-->