<div ng-controller="ProfilesController">
   
<div id="content">
        <div class="leftbar">
               <div class="leftbox">
                  <h2>Navn/Nr</h2>
                    <span class="side-searchbox"><input name="" type="text" class="side-input"><input name="" type="button" class="side-search"></span>
               </div><!--close leftbox-->
               
               <div class="leftbox">
                  <h2>Køn</h2>
                    <ul class="ul-style1">
                      <li><a href="#">Mand</a></li>
                        <li><a href="#">Kvinde</a></li>
                    </ul>
               </div><!--close leftbox-->
               
               <div class="leftbox2">
                  <h2>ALDER</h2>
                    <div class="side-form">
                        <span class="form-span"><input name="" type="text" class="side-input2" placeholder="Fra"></span>
                        <span class="form-devider"></span>
                        <span class="form-span"><input name="" type="text" class="side-input2" placeholder="Til"></span>
                        <span class="form-text">År</span>
                    </div>
               </div><!--close leftbox-->
              
                  <div class="side-bottom"><span class="line-white"></span><input name="" type="submit" class="side-submit" value="SØG"></div>
          </div><!--close leftbar-->
          
          <div class="rightbar">
               <div class="rightbar_inner">
               <div class="rightbar-row">
                  <div class="col">
                       <div class="col-inner">
                            <span class="thumb"><img src="images/thumb1.png" alt="" /></span>
                              <div class="detail">
                                   <p>Kirsten  CM3322 <strong>41 år</strong></p>
                              </div>
                         </div>
                    </div><!--close col-->
                    
                    <div class="col">
                       <div class="col-inner">
                            <span class="thumb"><img src="images/thumb2.png" alt="" /></span>
                              <div class="detail">
                                   <p>Kirsten  CM3322 <strong>41 år</strong></p>
                              </div>
                         </div>
                    </div><!--close col-->
                    
                    <div class="col">
                       <div class="col-inner">
                            <span class="thumb"><img src="images/thumb3.png" alt="" /></span>
                              <div class="detail">
                                   <p>Kirsten  CM3322 <strong>41 år</strong></p>
                              </div>
                              <div class="icon"><img src="images/icon4.png" alt="" /></div>
                         </div>
                    </div><!--close col-->
                    
                    <div class="col">
                       <div class="col-inner">
                            <span class="thumb"><img src="images/thumb4.png" alt="" /></span>
                              <div class="detail">
                                   <p>Kirsten  CM3322 <strong>41 år</strong></p>
                              </div>
                              
                         </div>
                    </div><!--close col-->
                    
                    <div class="col">
                       <div class="col-inner">
                            <span class="thumb"><img src="images/thumb5.png" alt="" /></span>
                              <div class="detail">
                                   <p>Kirsten  CM3322 <strong>41 år</strong></p>
                              </div>
                         </div>
                         
                    </div><!--close col-->
                    
                    <div class="col">
                       <div class="col-inner">
                            <span class="thumb"><img src="images/thumb6.png" alt="" /></span>
                              <div class="detail">
                                   <p>Kirsten  CM3322 <strong>41 år</strong></p>
                              </div>
                              <div class="icon"><img src="images/icon5.png" alt="" /></div>
                         </div>
                    </div><!--close col-->
                    
                    <div class="col">
                       <div class="col-inner">
                            <span class="thumb"><img src="images/thumb7.png" alt="" /></span>
                              <div class="detail">
                                   <p>Kirsten  CM3322 <strong>41 år</strong></p>
                              </div>
                              <div class="icon2"><img src="images/icon6.png" alt=""></div>
                         </div>
                    </div><!--close col-->
                    
                    <div class="col">
                       <div class="col-inner">
                            <span class="thumb"><img src="images/thumb8.png" alt="" /></span>
                              <div class="detail">
                                   <p>Kirsten  CM3322 <strong>41 år</strong></p>
                              </div>
                              <div class="icon"><img src="images/icon7.png" alt="" /></div>
                         </div>
                    </div><!--close col-->
                    
                    <div class="col">
                       <div class="col-inner">
                            <span class="thumb"><img src="images/thumb9.png" alt="" /></span>
                              <div class="detail">
                                   <p>Kirsten  CM3322 <strong>41 år</strong></p>
                              </div>
                         </div>
                    </div><!--close col-->
                    
                    <div class="col">
                       <div class="col-inner">
                            <span class="thumb"><img src="images/thumb10.png" alt="" /></span>
                              <div class="detail">
                                   <p>Kirsten  CM3322 <strong>41 år</strong></p>
                              </div>
                              <div class="icon2"><img src="images/icon6.png" alt="" /></div>
                         </div>
                    </div><!--close col-->
                    
                    <div class="col">
                       <div class="col-inner">
                            <span class="thumb"><img src="images/thumb11.png" alt="" /></span>
                              <div class="detail">
                                   <p>Kirsten  CM3322 <strong>41 år</strong></p>
                              </div>
                         </div>
                    </div><!--close col-->
                    
                    <div class="col">
                       <div class="col-inner">
                            <span class="thumb"><img src="images/thumb12.png" alt="" /></span>
                              <div class="detail">
                                   <p>Kirsten  CM3322 <strong>41 år</strong></p>
                              </div>
                         </div>
                    </div><!--close col-->
               </div><!--close rightbar-row-->
               
               <div class="slider-controller">
                  <a href="#" class="prev"></a>
                    <a href="#" class="next"></a>
               </div><!--close slider-controller-->
               
               </div><!--close rightbar-inner-->
          </div><!--close rightbar-->
     </div><!--close content-->
 

<div id="sidebar1" style="display:none;">
        <div class="sidebar1-left">
               <a href="#" class="sidebar1-close"></a>
               <div class="side-tabs">
                  <ul>
                      <li><a href="#" class="tab1"></a></li>
                        <li><a href="#" class="tab2"></a></li>
                    </ul>
               </div>
          </div><!--close sidebar1-left-->
          
          <div class="sidebar1-right">
               <div class="sidebar1-right_inner">
                  <span class="sidebar1-searchbox"><input name="" type="text" class="sidebar1-input"><input name="" type="button" class="sidebar1-search"></span>
                    <div class="sidebar1_box1">
                       <span class="title1" id="event1">LIGHTBOX <span class="title2"><a href="#" class="send3">Send</a>0</span></span>
                         
                         <span class="title1_1" id="event2">GRUPPER
                          <span class="title2">
                         <span class="addbox">
                         <input name="" placeholder="tilføj ny gruppe" class="addbox-input" type="text">
                         <input name="" class="addbox-button" type="button">
                         </span>
                         <a href="#" class="add-grupper"></a>0</span>
                         </span>
                         
                    </div>
                    <div class="sidebar1_box2">
                       <div class="lightbox">
                         <div class="sidebar1_box2_middle">
                            
                              <div class="sidebar_box3">
                                   <div class="sidebar_box2_left">
                                      <span class="side_img"><img src="images/thumb-side.png" alt="" /></span>
                                        <span class="side_img_number">A0226 </span>
                                   </div>
                                   
                                   <div class="sidebar_box2_right">
                                      <h4>Denise. 30 år.</h4>
                                        <span class="bank"><a href="#"></a></span>
                                        <h5>Danske Bank</h5>
                                        <span class="edit3"><a href="#"></a></span>
                                        <p>Hun har langt lyst hår</p>
                                   </div>
                                   
                                   <div class="sidebar1_box2_bottom2">
                                   <ul class="side-tool">
                                      <li><a href="#">Slet</a></li>
                                      <li><a href="#">Åben</a></li>
                                   </ul>
                                   </div>
                              </div><!--close sidebar_box2-->
                              
                              <div class="sidebar_box3">
                                   <div class="sidebar_box2_left">
                                      <span class="side_img"><img src="images/thumb-side.png" alt="" /></span>
                                        <span class="side_img_number">A0226 </span>
                                   </div>
                                   
                                   <div class="sidebar_box2_right inactive">
                                      <h4>Denise. 30 år.</h4>
                                        <span class="bank"><a href="#"></a></span>
                                        <h5>...</h5>
                                        <span class="edit3"><a href="#"></a></span>
                                        <p>...</p>
                                   </div>
                                   
                                   <div class="sidebar1_box2_bottom2">
                                   <ul class="side-tool">
                                      <li><a href="#">Slet</a></li>
                                      <li><a href="#">Åben</a></li>
                                   </ul>
                                   </div>
                              </div><!--close sidebar_box2-->
                              
                              <div class="sidebar_box3">
                                   <div class="sidebar_box2_left">
                                      <span class="side_img"><img src="images/thumb-side.png" alt="" /></span>
                                        <span class="side_img_number">A0226 </span>
                                   </div>
                                   
                                   <div class="sidebar_box2_right">
                                      <h4>Denise. 30 år.</h4>
                                        <span class="bank"><a href="#"></a></span>
                                        <h5>Danske Bank</h5>
                                        <span class="edit3"><a href="#"></a></span>
                                        <p>Hun har langt lyst hår</p>
                                   </div>
                                   
                                   <div class="sidebar1_box2_bottom2">
                                   <ul class="side-tool">
                                      <li><a href="#">Slet</a></li>
                                      <li><a href="#">Åben</a></li>
                                   </ul>
                                   </div>
                              </div><!--close sidebar_box2-->
                              
                              <div class="sidebar_box3">
                                   <div class="sidebar_box2_left">
                                      <span class="side_img"><img src="images/thumb-side.png" alt="" /></span>
                                        <span class="side_img_number">A0226 </span>
                                   </div>
                                   
                                   <div class="sidebar_box2_right">
                                      <h4>Denise. 30 år.</h4>
                                        <span class="bank"><a href="#"></a></span>
                                        <h5>Danske Bank</h5>
                                        <span class="edit3"><a href="#"></a></span>
                                        <p>Hun har langt lyst hår</p>
                                   </div>
                                   
                                   <div class="sidebar1_box2_bottom2">
                                   <ul class="side-tool">
                                      <li><a href="#">Slet</a></li>
                                      <li><a href="#">Åben</a></li>
                                   </ul>
                                   </div>
                              </div><!--close sidebar_box2-->
                              
                              <div class="sidebar_box3">
                                   <div class="sidebar_box2_left">
                                      <span class="side_img"><img src="images/thumb-side.png" alt="" /></span>
                                        <span class="side_img_number">A0226 </span>
                                   </div>
                                   
                                   <div class="sidebar_box2_right">
                                      <h4>Denise. 30 år.</h4>
                                        <span class="bank"><a href="#"></a></span>
                                        <h5>Danske Bank</h5>
                                        <span class="edit3"><a href="#"></a></span>
                                        <p>Hun har langt lyst hår</p>
                                   </div>
                                   
                                   <div class="sidebar1_box2_bottom2">
                                   <ul class="side-tool">
                                      <li><a href="#">Slet</a></li>
                                      <li><a href="#">Åben</a></li>
                                   </ul>
                                   </div>
                              </div><!--close sidebar_box2-->
                         </div></div><!--lightbox-->
                         <div class="grupper">
                         <div class="sidebar1_box2">
                       <div class="sidebar1_box2_top">
                            <span class="title3">Danske Bank</span>
                              <ul class="side-tool">
                                  <li><a href="#">Slet</a></li>
                                  <li><a href="#">Send</a></li>
                              </ul>
                         </div>
                         <div class="sidebar1_box2_middle">
                            <div class="side-tags">
                                   <ul>
                                      <li>Denise. <em>A0226</em></li>
                                        <li>Kim. <em>A0226</em></li>
                                        <li>Kim. <em>A0226</em></li>
                                        <li>Kim. <em>A0226</em></li>
                                   </ul>
                              </div>
                         </div>
                         <div class="sidebar1_box2_bottom">
                            <span class="title4">Oprettet 15.07.16</span>
                              <a href="#" class="div-close"></a>
                         </div>
                    </div><!--close sidebar1_box2-->
     
                    <div class="sidebar1_box2">
                       <div class="sidebar1_box2_top">
                            <span class="title3">Fakta reklame</span>
                              <ul class="side-tool">
                                  <li><a href="#">Slet</a></li>
                                  <li><a href="#">Send</a></li>
                              </ul>
                         </div>
                         <div class="sidebar1_box2_middle">
                            <div class="side-tags">
                                   <ul>
                                      <li>Denise. <em>A0226</em></li>
                                        <li>Kim. <em>A0226</em></li>
                                        <li>Kim. <em>A0226</em></li>
                                        <li>Kim. <em>A0226</em></li>
                                        <li>Denise. <em>A0226</em></li>
                                        <li>Denise. <em>A0226</em></li>
                                   </ul>
                              </div>
                         </div>
                         <div class="sidebar1_box2_bottom">
                            <span class="title4">Oprettet 04.06.16</span>
                              <a href="#" class="div-close"></a>
                         </div>
                    </div><!--close sidebar1_box2-->
                    <div class="sidebar1_box2">
                       <div class="sidebar1_box2_top">
                            <span class="title3">BABY</span>
                              <ul class="side-tool">
                                  <li><a href="#">Slet</a></li>
                                  <li><a href="#">Send</a></li>
                              </ul>
                         </div>
                         <div class="sidebar1_box2_middle">
                            
                              <div class="sidebar_box2">
                                   <div class="sidebar_box2_left">
                                      <span class="side_img"><img src="images/thumb-side.png" alt="" /></span>
                                        <span class="side_img_number">A0226 </span>
                                   </div>
                                   
                                   <div class="sidebar_box2_right">
                                      <h4>Denise. 30 år.</h4>
                                        <span class="edit3"><a href="#"></a></span>
                                        <p>Hun har langt lyst og vil passe godt til en kommende Kampagne for Match.dk</p>
                                   </div>
                              </div><!--close sidebar_box2-->
                              
                              <div class="sidebar_box2">
                                   <div class="sidebar_box2_left">
                                      <span class="side_img"><img src="images/thumb-side.png" alt="" /></span>
                                        <span class="side_img_number">A0226 </span>
                                   </div>
                                   
                                   <div class="sidebar_box2_right">
                                      <h4>Denise. 30 år.</h4>
                                        <span class="edit3"><a href="#"></a></span>
                                        <p>Hun har langt lyst og vil passe godt til en kommende Kampagne for Match.dk</p>
                                   </div>
                              </div><!--close sidebar_box2-->
                              
                         </div>
                         <div class="sidebar1_box2_bottom sidebar1_box2_bottom2">
                              <a href="#" class="div-open"></a>
                         </div>
                    </div><!--close sidebar1_box2-->
                    </div><!--grupper-->
                    </div><!--close sidebar1_box2-->
                    
                    
               </div><!--close sidebar1-right_inner-->
          </div><!--close sidebar1-right-->
     </div><!--close sidebar1-->
          <div class="right-sidebar">
        <div class="side-top"><a href="#" class="side-icon1"></a></div>
          
          <div class="side-middle">
               <span class="side-span">
                     <span class="side-icon2"></span>
                   <p>0</p>
               </span>
               <span class="side-span">
                     <span class="side-icon3"></span>
                   <p>0</p>
               </span>
          </div>
     </div><!--close right-sidebar-->

       
</div> 
