<div ng-controller="RegisterStep2Controller">
     
     
     <div id="content"  class="wrap2">
     	  
          <div class="page-black livetitle">
          	   <div class="section-top">
               		<h2>Ansøgningsskema</h2>
                    <div class="black-right">
                    	 <a href="#" class="black-edit"></a>
                         <a href="http://ldsstage.in/castit/landing page.html" class="black-close">luk</a>
                    </div>
               </div><!--close section-top-->
               
               <div class="section-middle">
               		
                    <div class="black-section">
                    	 <div class="black-row">
                         
                         	  <div class="black-leftbar">
                              	   <p>For at oprette en profil bedes du udfylde
nedenstående skema og klikke “Ansøg i 
bunden af siden.</p>
                              </div><!--close black-leftbar-->
                              
                              <div class="black-rightbar livetitle">
                                   <div class="black-row wrap3">
                                   		<div class="black-cal6">
                                        <h3>PERSONLIG INFO</h3> 
                                        	 <div class="form_box"><input name="" type="text" class="input2" placeholder="Email*"></div>
                                             <div class="form_box">
                                             	  <div class="black-row">
                                                      <div class="form_box2"><input name="" type="text" class="input2" placeholder="Tlf. 1*"></div>
                                                      <div class="form_box2"><input name="" type="text" class="input2" placeholder="Tlf. 2*"></div>
                                                  </div>
                                             </div>
                                             <div class="form_box">
                                             	  <div class="black-row">
                                                      <div class="form_box2">
                                                      	   <div class="select_box">
                                                           		<select name="">
                                                                	<option>Køn*</option>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3*</option>
                                                                </select>
                                                           </div>
                                                      </div>
                                                  </div>
                                             </div>
                                        </div><!--close black-cal4-->
                                        
                                        <div class="black-cal6 fodt">
                                        	 <h3>FØDT</h3>
                                        	 <div class="form_box">
                                             	  <div class="black-row">
                                                      <div class="form_box3"><input name="" type="text" class="input2" placeholder="Dag*"></div>
                                                      <div class="form_box3"><input name="" type="text" class="input2" placeholder="Mdr*"></div>
                                                      <div class="form_box3">
                                                      	   <div class="select_box">
                                                           		<select name="">
                                                                	<option>År*</option>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3*</option>
                                                                </select>
                                                           </div>
                                                      </div>
                                                  </div>
                                             </div>
                                             <div class="form_box"><input name="" type="text" class="input2" placeholder="Etninsk oprindelse"></div>
                                        </div><!--close black-cal4-->
                                   </div><!--close black-row-->
                              </div><!--close black-rightbar-->
                              
                         </div><!--close black-row-->
                    </div><!--close black-section-->
                    
                    <div class="black-numbers"><span class="span3"><em>02</em>/07</span></div>
               </div><!--close section-middle-->
               
               <div class="section-bottom">
               		<div class="blackpage-controller">
                    	 <span class="controller-title">NÆSTE STEP</span>
                         <a href="http://ldsstage.in/castit/Ansogning step1.html" class="black-prev"></a><a href="http://ldsstage.in/castit/Ansogning step3.html" class="black-next"></a>
                    </div>
               </div><!--close section-bottom-->
          </div><!--close page-black-->
          
     </div><!--close content-->
     
</div><!--close wrapper-->

<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jquery.selectbox-0.2.js"></script>
<script type="text/javascript">
		var myJQ = jQuery.noConflict();
		myJQ(function () {
			myJQ("select").selectbox();
		});
</script>

</body>
</html>
