<div class="page" ng-controller="UserPasswordResetController">
         <div id="privacy_section">
         	  <div class="container">
              	   <div class="bluebox3">
                   	    <div class="blue_inner3">
                        	 <h3>Forgot your password</h3>
                        </div>
                   </div>
              </div><!--close container-->
         </div><!--close privacy_section-->
         <div class="found_dog">
         	  <div class="container">
              	   <h2>Forgot your password.? <span class="title1">Aren’t Registered yet ? <a href="#/register-step1">REGISTER</a></span></h2>
              	   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                   <div class="login_box">
                    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                   <form name="userpasswordresetform" ng-submit="resetPassword()" style="margin-bottom: 0px !important;" role="form" id="userpasswordresetform" novalidate>
                   		<div class="contat_form">
                        <label>Email</label><input name="email" type="email" class="contact_input" ng-model="email"  required validate-email  >
                        <span class="error-message" ng-show="userpasswordresetform.email.$invalid && !userpasswordresetform.email.$pristine">Valid email is required.</span>
                        </div>
                        <div class="contat_form"><button ng-disabled="userpasswordresetform.$invalid" type="submit" class="contact_submit">RESET</button></div>
                   </form>
                   </div>
              </div><!--close container-->
         </div><!--close found_dog-->
</div>