<div class="page ansog1" ng-controller="UserloginController as ulc" >
     <div id="content" ng-controller="ResetPasswordController" >
       <div class="page-black login-page">
         <div class="section-top">
           <h2>{{ isDanish ? 'Nulstil din adgangskode' : 'Reset your Password' }}</h2>
           <div class="black-right">
             <a href="#/index{{isDanish ? '/da' : '/en'}}" class="black-close">{{ isDanish ? 'luk' : 'Close' }}</a>
           </div>
         </div><!--close section-top-->
         
         <div class="section-login">
           <div class="login-row">
             <div class="login-call3">
               <div class="login_inner">
                 <div ng-show="error" class="alert alert-danger">{{error}}</div>
                 <form name="resetPasswordForm" ng-submit="resetPasswordFormSubmit()" class="form-horizontal" method="POST" role="form">
                   <div class="login_box resetpass">
                     <label>{{ isDanish ? 'INDTAST KODE' : 'PASSWORD' }}</label>
                     <input id='resetpassword1' name="resetpassword1" type="password" placeholder="**********" class="login_input" ng-model="resetpassword1" required>
                     <!-- <input ng-model="password" name="password" id="password" required pattern=".{2,}" type="password" class="input2" placeholder="{{ isDanish ? 'Vælg password' : 'Choose password' }}*"> -->
                   </div>

                   <div class="login_box resetpass">
                     <label>{{ isDanish ? 'Bekræft KODE' : 'Confirm PASSWORD' }}</label>
                     <input id='resetpassword2' name="resetpassword2" type="password" placeholder="**********" class="login_input" ng-model="resetpassword2" required>
                     <!-- <input id='resetpassword2' name="resetpassword2" type="password" placeholder="**********" class="login_input" ng-model="resetpassword2" required compare-to="resetpassword1"> -->
                     <!-- <input ng-model="cpassword" name="cpassword" id="cpassword" required compare-to="password"  pattern=".{2,}" type="password" class="input2" placeholder="{{ isDanish ? 'Bekræft password' : 'Confirm password' }}*"> -->
                     <!-- <div ng-if="profile_ansog_form1.cpassword.$dirty" ng-messages="profile_ansog_form1.cpassword.$error" ng-hide="profile_ansog_form1.cpassword.$valid"><div ng-message="compareTo">{{ isDanish ? 'De givne passwords skal være ens' : 'Passwords given should be identical' }}</div> -->
                   </div>

                   <div class="login_box2">
                     <input name="" type="submit" class="login_button1" value="{{ isDanish ? 'Nulstil' : 'Login' }}">
                   </div>
                 </form>
               </div>
             </div><!--close login-call3-->
           </div><!--close login-row-->
         </div><!--close section-login-->
       </div><!--close page-black-->
     </div>
   </div>
     <div class="alert_message" style="display:none">
          <p>{{ isDanish ? 'De givne passwords skal være ens' : 'Passwords given should be identical' }}</p>
     </div>
     <div class="success_message" style="display:none">
          <p>{{ isDanish ? 'Adgangskode opdateret. Du kan nu logge ind med din nye adgangskode' : 'Password updated. You can now login with your new password' }}</p>
     </div>