@charset "utf-8";
/* CSS Document */
.information-inside-right img {
     width:100% !important;
	 height:100% !important;
}
 /* #header{position:relative;    z-index: 99 !important;} */
.res_menu ul li {
    background: #fff;
}
.section-bottom {
    float: right;
    width: 80%;
}
#profile_ansog_form6 .section-bottom {
    width: 100%;
}

@media screen and (max-width: 1920px) and (min-width: 1441px)
{
	.side-bottom {
    float: left;
    width: 100%;
    margin-top: 250px;
}
.col-inner p {
    padding: 30px 0 0 0;
}
.videobig_thumb {
    height: 680px;
}
.detail {
    height: 100px;
}
.video-thumb {
    height: 125px;
}
.video_call6 .video-thumb {
    height: 140px;
    min-height: 85px;
}
.video_controller {
    bottom: -55px;
}
.menu ul li + li {
    margin: 0 0 0 40px;
}
}
@media screen and (max-width: 1440px)
{
.detail {
height:45px !important;	
}
/* .thumb{ height: 175px !important; } */
.thumb{ height: inherit; }
.col-inner p {
	padding: 5px 0 0 0;
	
}
.leftbox2 {
    margin: 0 0 25px 0;
}
.video_text h3 {
    font-size: 25px;
}
.video_controller {
	position: relative;
}
.sidebar1-right {
    /* width: 315px ; */
    width: 100% ;
}
#sidebar1 {
    /* width: 390px ; */
    width: 450px ;
}
/* #wrapper {
    padding: 0 300px 0 30px; */
}
#wrapper {
    padding: 0 0 0 30px ;
    
}
.right-sidebar {
    width: 66px;
}
.sidebar1-left {
    width: 75px;
}
.side-bottom {
    float: left;
    width: 100%;
    margin-top: 40px;
}
.form-box2 {
    margin: 10px 0 0 0 !important;
}

@media screen and (max-width: 1300px){
.menu ul li+li {
    margin: 0 0 0 18px;
}
}


@media screen and (max-width: 1200px){
.section-bottom {
    width: 100%;
}	
#wrapper {
    width: 100%;
}	
#footer {
    width: 100%;
}

.slider-controller {
    position: absolute;
    top: 90px;
    left: 50%;
    margin: 0 0 0 -35px;
    z-index:5;
    width: 70px;
    float: left;
    text-align: center;
}
.slider-controller .grid-item{float:left; margin:0 !important; }
.slider-controller .grid-item+.grid-item{float:right; }
.slider-controller span {
    font-size: 18px;
    color: #000;
}
.rightbar_inner .rightbar-row {
    width: 103%;
}
.home #header {
    width: 100%;
}
.menu ul li+li {
    margin: 0 0 0 18px;
}
.menu ul li {
    font-size: 12px;
}
.form-box3	.button {
    margin: 0 5px 5px 0;
}
.form-big {
    width: 75%;
}
	.send2 {
    width: 80px;
}
.cancel2 {
	width: 80px;
}
	/*.footer_center .span3 {
    margin-left: 0px !important;
	line-height: 80px !important;*/

      /*  .footer_center .span3 {
     margin-right: -1000px !important;
    line-height: 10px !important;
}*/

.footer_left {
    padding: 0 0 0 0 !important;
}
.footer_right {
    padding: 0 0 0 0 !important;
}
.detail {
height:60px !important;	
}
.col-inner p {
	padding: 10px 0 0 0;
}
.page-black {
    padding: 0 0 0 0px !important;
}
.menu{
	display:block;
}
.leftbar {
    display:none;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 85px;
    background-color: #000;
    z-index: 5;
}
.leftbar .side-submit{
    width: 20%;
    padding: 9px;
}
.leftbar
.rightbar {
    display: block;
    padding: 10px 10px 0 10px ;
}

.col {
    float: left;
    width: 16.66%;
    padding: 0 5px;
    margin: 0 0 10px 0;
}
.right-sidebar {
    display: none;
}	
.span1 {
    display: none !important;
}
.span2 {
   display: none !important;
}
.footer-line {
   display: none !important;
}
.searchmini{
	display:block !important;
}
.tabnew{
	display:block !important;
}
.video_popup {
    padding: 0 30px 0 30px !important;
}
.video_controller {
	position: relative;
}
#sidebar1 {
    width: 420px;
}
.sidebar1-right {
    width: 330px;
}
.profile_form{
	width: 85% !important;
	    padding: 20px;
		margin: 97px 10px;
	
}
.profile_form_col {
    width: 100% !important;
}
#wrapper {
    padding: 0 30px 0 30px;
}
#content {
    width: 100%;
}

}

@media screen and (max-width: 991px)
{
.home-logo img{
    width: 60% !important;
}
    
.footer_center {
    display: inline-block;
    width: 200px;
    float: none;
    position: relative;
    text-align: center;
    top: 0;
    margin-left: -100px;
}
#footer {
    text-align: center;
}
.span3 {
    top: 0;
}
	.footer_left {
    width: 50px;
}
/*.slider-controller {
    top: 175px;
    margin: 0;
    z-index: 9;
    width: 100px;
    right: 50%;
    margin-right: -50px;
}*/

.lngdiv {
    float: left;
    margin-left: -25px;
    position: absolute;
    left: 50%;
}



#header {
    margin: 0 0 80px 0 !important;
}
.rightbar_inner{position:static !important;}
	.sendlightbox_form {
    margin: 100px 0px !important;
}
.textarea {
    height: 194px;
}
/*.footer_center {
    position: relative;
    left: -30px;
}*/
#sidebar1 {
    position:absolute !important;
	 background: #000 !important;
}
.sidebar1_box2 .lightbox {
    height: 100% !important;
	min-height: 650px;
}
.sidebar1_box2 .grupper {
    height: 100% !important;
	min-height: 650px;
}
	.poup-close-profilebox{ right:50px !important;}

		.send2 {
    width: 123px !important;
}
.cancel2 {
	width: 123px !important;
}
	.sidebar1-right {
    width: 100% !important;
    position: relative;
}
.video_text h3{ display:none !important;}
.video_text {
    border: none !important;
	margin: 0px !important;
}
#sidebar1 {
    width: 100%;
}
.detail {
   display:none !important;
}
.res_menu .span1 {
    display: block !important;
}
.kon-dropdown {
	display:block !important;
}
.res_menu .span2 {
    display: block !important;
	top: 14px;
position: relative;
margin: 0;
float: right;
}
.animate-show {
    opacity: 0 !important;
	display:none;
}
.col {
    padding: 0 2px !important;
    margin: 0 0 4px 0 !important;
}
.rightbar {
    padding: 4px 4px 0 4px !important;
    /* padding: 4px 7px 0 7px !important; */
}
.tabnew{ cursor:pointer;}
	.sidebar1-left {
    display: none !important;
}
	.res-lightbox1{ display:block !important;}
	.mejs-controls{ display:none !important;}
	.mejs-container {
    background: transparent !important;
}
.res-name{display:block;text-align: left; font-size: 20px}
.videobig_thumb {
    background-color: transparent !important;
	border: 3px solid #000 !important;
}
.video_margin {
    border: none !important;
}
.video_call4 .span3{ display:block;margin: 0px;
width: 100%;
line-height: 25px;    float: left;
    margin: 15px 0 0 0;}
.video_section2 {
    padding: 0px 10px !important;
}
.videobig_thumb { margin-top:0px !important;    background-size: cover !important; background-position-y: top !important; background-position-x: center !important } 
#content-white1 {
    margin: 0 0 0px 0 !important;
    padding: 0px 0px 0px 0px !important;
}	
/*.slider-controller {
    transform: rotate(90 deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	width: 100%;
text-align: center;
right: 0;
margin: 0;
top: 14%;
}*/	
	
	/*.prev {
	 -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.next {
	 -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	margin: 65px 0 0 0;
}*/
#wrapper {
    padding: 0 30px 0 30px !important;
}
.page-black {
    padding: 0 0 0 0px !important;
}
.menu{
	display:none;
}
.login-call3 {
    width: 40% !important;
}
#wrapper {
    padding: 0 30px 0 30px !important;
}
.page-black {
    padding: 0 0 0 0px !important;
}
.menu{
	display:none;
}
.right-sidebar {
    display: none;
}	
.logo {
    float: left !important;
    width: 40% !important;
    padding: 0 0px 0 0 !important;
    text-align: left !important;
}
.menu{
	display:none;
}
.res_menu{
	display:block !important;
}
.header_right {
    float: left;
    padding: 24px 0 0 0;
    width: 60%;
    float: right;
    text-align: right;
}
.col {
    float: left;
    width: 16.66%;
    padding: 0 5px;
    margin: 0 0 10px 0;
}
.leftbar {
	display:none;
}
.rightbar {
    display: block;
    padding: 10px 10px 0 10px;
}
.span3 {
    font-size: 80px;
}
.span3 {
    font-size: 65px !important;
}
.span1 {
    display: none !important;
}
.span2 {
   display: none !important;
}
.footer-line {
   display: none !important;
}
.searchmini{
	display:block !important;
}
.tabnew{
	display:block !important;
}
#content {
    margin: 0 0 10px 0;
}
.page-black {
    padding: 0 15px 0 15px !important;
}
.login_box2 {
    position: relative !important;
}
.section-top {
    border-top: none !important;
}
.section-login {
    border-bottom: none !important;
    padding: 0px 0 0px 0 !important;
}
.login_box2 {
    float: right !important;
}
.black-wrap #header {
    margin: 0 0 -47px 0 !important;
}
.section-top h2 {
    color: transparent !important;
}
.res-menu {
    display: block !important;
}
#content-white {
    margin: 0 0 0px 0 !important;
    padding: 0px 0px 0px 0px !important;
}
.information-inside h2 {
    color: transparent !important;
}
.black-close {
	color:transparent !important;
}
.black-wrap #header {
    margin: 0 0 -47px 0 !important;
}
.section-top h2 {
    color: transparent !important;
}
.res-menu {
    display: block !important;
}
.black-numbers {
	margin: 30px 0 0 0 !important;
position: absolute;
z-index: -1 !important;  top: 315px;
}
.black-numbers .span3 {
    font-size: 18px !important;
}
.black-leftbar {
    width: 100% !important ;
}
.black-leftbar {
    margin: 30px 0 0 0;
}
.black-rightbar {
    width: 100% !important;
    margin: 0px 0 0 0 !important;
}
	.livetitle .black-rightbar h3 {
	color:transparent !important;	
		
	}
.livetitle .section-top h2::before {
	background:none !important;
	}
.livetitle .section-top h2 {
    color: #fefefe !important;
	font-size: 18px !important;
	padding: 0 0 0px 0 !important;
}
.livetitle .section-top{
	padding: 100px 0 0 0 !important;
}
.section-bottom {
    border-top:none !important;
}
	.black-edit {
		margin-top: 79px;
margin-left: -18px;
position: absolute;
	}
.wrap2 .page-black {
    padding: 0 50px 0 50px !important;
}
.livetitle .black-rightbar .fodt h3 {
    color: #a9a9a9 !important;
	margin: 10px 0 20px 0 !important;
}
.livetitle .black-rightbar .kategori h3 {
    color: #fefefe !important;
}
.black-leftbar p{
	margin-bottom: 20px !important;
}
.blackcontainer .black-cal4 {
    width: 100% !important;
    padding: 0 10px !important;
}

.blackcontainer .black-cal4.cal4-mobile {
    width: calc(100% - 127px) !important;
    padding: 0 10px !important;
}
.blackcontainer .black-cal4.cal4-mobile+.black-cal4.cal4-mobile {
    width:127px !important;
    padding: 0 10px 0 0 !important; float:right;
}


#content-white .information-inside h2 {
    color: #000 !important;
    margin-top: 70px;
}
#content-white1 .information-inside h2 {
    color: #000 !important;
    margin-top: 70px;
}
.poup-close2{
color: transparent !important;	
}
.video-res{
	display:none;
}
.text-res{
	display:none;
}
.row-res{
	display:none;
}
.video_popup {
    width: 100% !important;
    padding: 0 10px 0 10px !important;
}
.video-rightbar {
    padding: 10px 0 0 0px !important;
}
.video_call4 {
    float: left;
    width: 100% !important;
    padding: 0 20%;
}
.video_section3 {
    float: left;
    width: 100%;
    padding: 0 0 0px 0px !important;
}
#photo_nav .video_controller {
    margin:0 !important;
	/* position: absolute; z-index: 99999; bottom:auto; top:50%; */
    position: absolute; 
    z-index: 99; 
    /* z-index: 99999;  */
    bottom:35%;
}
#video_nav .video_controller {
    margin:-15px 0 0 0 !important;
	/* position: absolute; z-index: 99999; bottom:auto; top:50%; */
    position: relative; 
    z-index: 99; 
    /* z-index: 99999;  */
    bottom:25% !important;
}
.vide_prev {
    margin: 0 40% 0 0 !important;
    /* margin: 0 110px 0 0 !important; */
	/* left: -10px !important; */
/* position: relative; */
background: url(images/prev1.png) no-repeat 0 0 !important;
}
.vide_next {
    margin: 0 0 0 40% !important;
    /* margin: 0 0px 0 110px !important; */
	background: url(images/next1.png) no-repeat 0 0 !important;
}
.poup-close{
	color:transparent !important;
	top: 40px !important;
}
.video_download{
	display:none !important;
}
.video_upload{
	display:none !important; 
}
.video_section1 {
    height: 150px !important;
}
.res-profile {
    margin-top: 8px;
    float: left;
}
.videos_title{
display:none;	
}
.video_call4 .footer_left {
display:block !important;	
}
.video_call4 .footer_right {
display:block !important;	
}
.video_call4 .footer_center {
display:inline-block !important;	
}
/*.slider-controller {
    top: 84%;
}*/
.res_menu .information-inside h2 {
    color: black !important;
	line-height: 22px !important;
padding: 0 0 0px 0 !important;
margin: 0 0 30px 0 !important;
font-size:20px !important;
}
.res_menu .information-inside h2::before {
    background: transparent !important;
}
#res-popup1{ visibility:visible; display:table;}
#des-popup1{ display:none;}
.lngdiv {
    margin-top: 10px;
}
}

@media screen and (max-width: 860px)
{
	.thumb {
    height: 300px !important;
}
#wrapper {
    padding: 0 30px 0 30px !important;
}
.page-black {
    padding: 0 0 0 0px !important;
}
.menu{
	display:none;
}
.login-call3 {
    width: 40% !important;
}
.page-black {
    padding: 0 0 0 0px !important;
}
.menu{
	display:none;
}
.right-sidebar {
    display: none;
}	
/*.logo {
    float: left;
    width: 40%;
    padding: 30px 0px 0 0;
}*/
.menu{
	display:none;
}
.res_menu{
	display:block !important;
}
.header_right {
    float: left;
    padding: 24px 0 0 0;
    width: 60%;
    float: right;
    text-align: right;
}
.col {
    float: left;
    width: 33.33%;
    padding: 0 5px;
    margin: 0 0 10px 0;
}
.leftbar {
	display:none;
}
.rightbar {
    display: block;
    padding: 10px 10px 0 10px;
}
.span3 {
    font-size: 80px;
}
.span3 {
    font-size: 65px !important;
}
.span1 {
    display: none !important;
}
.span2 {
   display: none !important;
}
.footer-line {
   display: none !important;
}
.searchmini{
	display:block !important;
}
.tabnew{
	display:block !important;
}
#content {
    margin: 0 0 10px 0;
}
.page-black {
    padding: 0 15px 0 15px !important;
}
.login_box2 {
    position: relative !important;
}
.section-top {
    border-top: none !important;
}
.section-login {
    border-bottom: none !important;
    padding: 0px 0 0px 0 !important;
}
.login_box2 {
    float: right !important;
}
.black-wrap #header {
    margin: 0 0 -47px 0 !important;
}
.section-top h2 {
    color: transparent !important;
}
.res-menu {
    display: block !important;
}
.black-wrap #header {
    margin: 0 0 -47px 0 !important;
}
.section-top h2 {
    color: transparent !important;
}
.res-menu {
    display: block !important;
}
.black-numbers {
	margin: 30px 0 0 0 !important;
position: absolute;
}
.black-numbers .span3 {
    font-size: 18px !important;
}
.black-leftbar {
    width: 100% !important ;
}
.black-rightbar {
    width: 100% !important;
    margin: 0px 0 0 0 !important;
}
	.livetitle .black-rightbar h3 {
	color:transparent !important;	
		
	}
.livetitle .section-top h2::before {
	background:none !important;
	}
.livetitle .section-top h2 {
    color: #fefefe !important;
	font-size: 18px !important;
	padding: 0 0 0px 0 !important;
}
.livetitle .section-top{
	padding: 100px 0 0 0 !important;
}
.section-bottom {
    border-top:none !important;
}
	.black-edit {
		margin-top: 79px;
margin-left: -18px;
position: absolute;
	}
.wrap2 .page-black {
    padding: 0 50px 0 50px !important;
}
.wrap3 .black-cal6 {
    width: 100%;
}
.blackcontainer .black-cal4 {
    width: 100% !important;
    padding: 50px 15px !important;
}
/*.slider-controller {
    top: 21%;
}*/
}
@media screen and (max-width: 768px)
{
/*	.slider-controller {
    top: 21%;
}*/
	.thumb {
    height: 250px !important;
}
	.static-content{ width:100% !important;}
#wrapper {
    padding: 0 30px 0 30px !important;
}
.page-black {
    padding: 0 0 0 0px !important;
}
.menu{
	display:none;
}
.login-call3 {
    width: 40% !important;
}
.right-sidebar {
    display: none;
}	
/*.logo {
    float: left;
    width: 40%;
    padding: 30px 0px 0 0;
}*/
.menu{
	display:none;
}
.res_menu{
	display:block !important;
}
.header_right {
    float: left;
    padding: 24px 0 0 0;
    width: 60%;
    float: right;
    text-align: right;
}
.col {
    float: left;
    width: 33.33%;
    padding: 0 5px;
    margin: 0 0 10px 0;
}
.leftbar {
	display:none;
}
.rightbar {
    display: block;
    padding: 10px 10px 0 10px;
}
.span3 {
    font-size: 80px;
}
.span3 {
    font-size: 65px !important;
}
.span1 {
    display: none !important;
}
.span2 {
   display: none !important;
}
.footer-line {
   display: none !important;
}
.searchmini{
	display:block !important;
}
.tabnew{
	display:block !important;
}
#content {
    margin: 0 0 10px 0;
}
.page-black {
    padding: 0 15px 0 15px !important;
}
.login_box2 {
    position: relative !important;
}
.section-top {
    border-top: none !important;
}
.section-login {
    border-bottom: none !important;
    padding: 0px 0 0px 0 !important;
}
.login_box2 {
    float: right !important;
}
.black-wrap #header {
    margin: 0 0 -47px 0 !important;
}
.section-top h2 {
    color: transparent !important;
}
.res-menu {
    display: block !important;
}
.black-wrap #header {
    margin: 0 0 -47px 0 !important;
}
.section-top h2 {
    color: transparent !important;
}
.res-menu {
    display: block !important;
}
.black-numbers {
	margin: 40px 0 0 0 !important;
position: absolute;    top: 315px;
}
.black-numbers .span3 {
    font-size: 18px !important;
}
.black-leftbar {
    width: 100% !important ;
}
.black-rightbar {
    width: 100% !important;
    margin: 0px 0 0 0 !important;    padding: 0;
}
.black-row .form_box {
    padding: 0 0;
}
	.livetitle .black-rightbar h3 {
	color:transparent !important;	
		
	}
.livetitle .section-top h2::before {
	background:none !important;
	}
.livetitle .section-top h2 {
    color: #fefefe !important;
	font-size: 18px !important;
	padding: 0 0 0px 0 !important;
}
.livetitle .section-top{
	padding: 100px 0 0 0 !important;
}
.section-bottom {
    border-top:none !important;
}
	.black-edit {
		margin-top: 79px;
margin-left: -18px;
position: absolute;
	}
.wrap2 .page-black {
    padding: 0 50px 0 50px !important;
}
.wrap3 .black-cal6 {
    width: 100%;
}
.blackcontainer .black-cal4 {
    width: 100% !important;
    padding: 0 15px !important;
}
.upload_section {
    margin: 50px 0 0 0;
}

.black-col-wrap {
    padding: 0 !important;
}
.black-cal8 {
    width: 100% !important;
}
.upload-placeholder, .upload-box {
    width: calc( 50% - 10px) !important;
}
}
@media screen and (max-width: 680px){
	
.information-inside-row2 {
    margin: 0;display: flex;flex-direction: column-reverse;
}
.information-inside-left {
    padding: 0;
}
	.thumb {
    height: 250px !important;
}
.information-inside-right img {
     height:100% !important
}
	#wrapper {
    float: left;
    width: 100%;
    padding: 0 20px 0 20px;
}
.information-inside-left {
    width: 100%;
}
.information-inside-right {
    width: 100%;
	    margin-top: 0;
    margin-bottom: 25px; padding:0;
}
.right-sidebar {
    display: none;
}	
/*.logo {
    float: left;
    width: 40%;
    padding: 30px 0px 0 0;
}*/
.menu{
	display:none;
}
.res_menu{
	display:block !important;
}
.header_right {
    float: left;
    padding: 24px 0 0 0;
    width: 60%;
    float: right;
    text-align: right;
}
.col {
    float: left;
    width: 33.33%;
    padding: 0 5px;
    margin: 0 0 10px 0;
}
.leftbar {
	display:none;
}
.rightbar {
    display: block;
    padding: 10px 10px 0 10px;
}
.span3 {
    font-size: 80px;
}
.span3 {
    font-size: 65px !important;
}
.span1 {
    display: none !important;
}
.span2 {
   display: none !important;
}
.footer-line {
   display: none !important;
}
.searchmini{
	display:block !important;
}
.tabnew{
	display:block !important;
}
#content {
    margin: 0 0 10px 0;
}
.page-black {
    padding: 0 75px 0 75px !important;
}
.login-call3 {
    float: left;
    width: 100% !important;
    padding: 0 12px;
}
.login_box2 {
    position: relative !important;
}
.section-top {
    border-top: none !important;
}
.section-login {
    border-bottom: none !important;
    padding: 0px 0 0px 0 !important;
}
.login_box2 {
    float: right !important;
}
.black-wrap #header {
    margin: 0 0 -47px 0 !important;
}
.section-top h2 {
    color: transparent !important;
}
.res-menu {
    display: block !important;
}
.black-numbers {
	margin: 50px 0 0 0 !important;
position: absolute;
}
.black-numbers .span3 {
    font-size: 18px !important;
}
.black-leftbar {
    width: 100% !important ;
}
.black-rightbar {
    width: 100% !important;
    margin: 0px 0 0 0 !important;
}
	.livetitle .black-rightbar h3 {
	color:transparent !important;	
		
	}
.livetitle .section-top h2::before {
	background:none !important;
	}
.livetitle .section-top h2 {
    color: #fefefe !important;
	font-size: 18px !important;
	padding: 0 0 0px 0 !important;
}
.livetitle .section-top{
	padding: 100px 0 0 0 !important;
}
.section-bottom {
    border-top:none !important;
}
	.black-edit {
		margin-top: 79px;
margin-left: -18px;
position: absolute;
	}
.wrap2 .page-black {
    padding: 0 50px 0 50px !important;
}
.wrap3 .black-cal6 {
    width: 100%;
}
.blackcontainer .black-cal4 {
    width: 100% !important;
    padding: 0 10px !important;
}
.black-cal6 {
    width: 100% !important;
}
/*.slider-controller {
    top: 16%;
}*/
}
@media screen and (max-width: 560px)
{
/*		.slider-controller {
    top: 14%;
}
*/
.video_call4 {
    float: left;
    width: 100% !important;
    padding: 0 0%;
}
.information-inside-right img {
     height:100% !important
}
	.thumb {
    height: 200px !important;
}
	#wrapper {
    float: left;
    width: 100%;
    padding: 0 20px 0 20px;
}
.right-sidebar {
    display: none;
}	
/*.logo {
    float: left;
    width: 40%;
    padding: 30px 0px 0 0;
}*/
.menu{
	display:none;
}
.res_menu{
	display:block !important;
}
.header_right {
    float: left;
    padding: 24px 0 0 0;
    width: 60%;
    float: right;
    text-align: right;
}
.col {
    float: left;
    width: 33.33%;
    padding: 0 5px;
    margin: 0 0 10px 0;
}
.leftbar {
	display:none;
}
.rightbar {
    display: block;
    padding: 10px 10px 0 10px;
}
.span3 {
    font-size: 80px;
}
.span3 {
    font-size: 65px !important;
}
.span1 {
    display: none !important;
}
.span2 {
   display: none !important;
}
.footer-line {
   display: none !important;
}
.searchmini{
	display:block !important;
}
.tabnew{
	display:block !important;
}
#content {
    margin: 0 0 10px 0;
}
.page-black {
    padding: 0 15px 0 15px !important;
}
.login-call3 {
    float: left;
    width: 100% !important;
    padding: 0 12px;
}
.login_box2 {
    position: relative !important;
}
.section-top {
    border-top: none !important;
}
.section-login {
    border-bottom: none !important;
    padding: 0px 0 0px 0 !important;
}
.login_box2 {
    float: right !important;
}
.black-wrap #header {
    margin: 0 0 -47px 0 !important;
}
.section-top h2 {
    color: transparent !important;
}
.res-menu {
    display: block !important;
}
.information-inside-cal {
    width: 100% !important;
}

.information-inside-left {
    width: 100% !important;
}
.black-leftbar {
    width: 100% !important ;
}
.black-cal6 {
    width: 100% !important;
}
.controller-title{
margin: 0 30px 0 0 !important;	
}
.black-rightbar {
    width: 100% !important;
    margin: 0px 0 0 0 !important;
    padding-right: 10px;
    padding-left: 10px;
}
.livetitle .section-top h2 {
    color: #fefefe !important;
	font-size: 18px !important;
	padding: 0 0 0px 0 !important;
}
.livetitle .section-top{
	padding:0px 0 0 0 !important;
	/* padding:60px 0 0 0 !important; */
}
#header {
    margin: 0 0 0 0 !important;
}
.livetitle .section-top h2::before {
	background:none !important;
	}
	.black-edit {
		margin-top:38px;
margin-left: -18px;
position: absolute;    right: 0;
	}
	.livetitle .black-rightbar h3 {
    color:transparent !important;	
    display: none;
		
	}
	.black-numbers {
    margin: 50px 0 0 0 !important;
    position: absolute;
}
.wrap2 .page-black {
    padding: 0 15px 0 15px !important;
}
.black-numbers {
    top: 210px;
}
}

@media only screen and (max-width: 400px) and (orientation: portrait) {
    /* height: 55vh */
    .videobig_thumb{
        height: 55vh !important;
    }
    .hide-in-mobile-portrait{
        display: none;
    }
    .ansog1 .blackpage-controller{
        /* margin: 10px 0 !important; */
        margin: 0px 0 !important;
    }
    .black-cal4.language_dropdown{
        width: 60% !important;
        float: left;
    }
    .black-cal4.language_star{
        width: 39% !important;
        text-align: right;
    }
    .black-cal4.language_rating_info{
        margin-top: 30px;
    }

    .page-black .section-bottom{
        margin-bottom: 30px;
    }

}
footer#header-toolbar > .footer_left img.searchmini{
    width: 80px !important;
    height: 40px !important;
    top: 0 !important;
    position: absolute;
    max-width: none;
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .full-screen-black-box{
        overflow-y: scroll;
    }
.logo img {
    height: 80px;
}
.home #header {
    width: 100%;
    height: 120px;
}
.home #footer {
    height: auto;
}
.home #content {
    height: 400px;
}
.home .rightbar_inner .rightbar-row {
    max-height: 390px;height: 390px;
}
.col-inner {
    height:250px;
}
#main-menu-context.active{
    float: left;
    position: absolute;
    padding: 0px 24px;
    height: 100vh;
    width: 93vw;
    left: 0px;
    background: #fff;
}
}


@media screen and (max-width: 480px)
{
	#content-white .information-inside h2 {
    margin-top: 30px;
}
#content-white1 .information-inside h2 {
    margin-top: 30px;
}
	.black-numbers {
    top: 190px;
}
	#wrapper {
    padding: 0 15px 0 15px !important;
}

.rightbar_inner .rightbar-row {
    /* width: 108%; */
    width: 100%;
}

	.ngscroll-resizable{height:auto !important}
	.listscroll{overflow:visible !important;}
.textarea {
    height: 200px;
}	
	.thumb {
    height: 150px !important;
}

.information-inside-right img {
     height:100% !important
}
.information-inside-left {
    float: right;
    height: 100% !important;
}
#wrapper {
    float: left;
    width: 100%;
    padding: 0 20px 0 20px;
}	
.right-sidebar {
    display: none;
}
	
/*.logo {
    float: left;
    width: 40%;
    padding: 30px 0px 0 0;
}*/
.menu{
	display:none;
}	
.header_right {
    float: left;
    padding: 24px 0 0 0;
    width: 60%;
    float: right;
    text-align: right;
}
.span3 {
    font-size: 45px !important;
}
.span1 {
    display: none !important;
}
.span2 {
   display: none !important;
}
.footer-line {
   display: none !important;
}
#content {
    margin: 0 0 10px 0;
}
.res-menu{
	display:block !important;
}
.searchmini{
	display:block !important;
}
.tabnew{
	display:block !important;
}
.page-black {
   padding: 0 15px 0 15px !important;
}
.login-call3 {
    float: left;
    width: 100% !important;
    padding: 0 12px;
}
.login_box2 {
    position: relative !important;
}
.section-top {
    border-top: none !important;
}
.section-login {
    border-bottom: none !important;
    padding: 0px 0 0px 0 !important;
}
.login_box2 {
    float: right !important;
}
.black-wrap #header {
    margin: 0 0 -47px 0 !important;
}
.section-top h2 {
    color: transparent !important;
}
.information-inside-cal {
    width: 100% !important;
}
.black-numbers {
    margin: 65px 0 0 0 !important;
    position: absolute;
}
.wrap2 .page-black {
    /* padding: 0 15px 0 15px !important; */
    padding: 0 !important;
}
.information-inside-left {
    width: 100% !important;
    padding-top: 0px !important;
	    overflow-y: unset !important;

}

.ngscroll-scrollbar-container{ display:none;}
.livetitle .select_box .sbSelector:link, .select_box .sbSelector:visited, .select_box .sbSelector:hover{
	font-size: 12px;
	}
.livetitle .input2 {
	font-size: 12px;	
	}
/*		.slider-controller {
    top: 10%;
}*/
}
@media screen and (max-width: 360px)
{
	/*.slider-controller {
    top: 7%;
}*/
.rightbar_inner {
    width: 127%;
    margin-left: 0px;
}
		.thumb {
    height: 100px !important;
}
.footer_center {
    display: block !important;
	 left: 0px;
}
#wrapper {
    float: left;
    width: 100%;
    padding: 0 20px 0 20px;
}	
.right-sidebar {
    display: none;
}	
.logo {
    float: left;
    width: 40%;
    padding: 30px 0px 0 0;
}	
.menu{
	display:none;
}
.header_right {
    float: left;
    padding: 24px 0 0 0;
    width: 60%;
    float: right;
    text-align: right;
}
.col {
    float: left;
    width: 33.33%;
    padding: 0 5px;
    margin: 0 0 10px 0;
}
.leftbar {
	display:none;
}
.rightbar {
    display: block;
    padding: 10px 10px 0 10px;
}
.span3 {
    font-size: 45px !important;
}
.span1 {
    display: none !important;
}
.span2 {
   display: none !important;
}
.footer-line {
   display: none !important;
}

#content {
    margin: 0 0 10px 0;
}
.res-menu{
	display:block !important;
}
.searchmini{
	display:block !important;
}
.tabnew{
	display:block !important;
}
.page-black {
    padding: 0 15px 0 15px !important;
}
.login-call3 {
    float: left;
    width: 100% !important;
    padding: 0 12px;
}
.login_box2 {
    position: relative !important;
}
.section-top {
    border-top: none !important;
}
.section-login {
    border-bottom: none !important;
    padding: 0px 0 0px 0 !important;
}
.login_box2 {
    float: right !important;
}
.black-wrap #header {
    margin: 0 0 -47px 0 !important;
}
.section-top h2 {
    color: transparent !important;
}
.black-numbers {
    margin: 65px 0 0 0 !important;
    position: absolute;
}
.wrap2 .page-black {
    padding: 0 0px 0 0px !important;
}
.information-inside-left {
    width: 100% !important;
    overflow-y: unset !important;
    padding-top: 0px;
}
.livetitle .select_box .sbSelector:link, .select_box .sbSelector:visited, .select_box .sbSelector:hover{
	font-size: 12px;
	}
.livetitle .input2 {
	font-size: 12px;	
	}
.livetitle .select_box .sbToggle {
    right: 12px;
}
.sendlightbox_form {
    width: 280px;
	padding: 15px 15px 15px 15px !important;
	
}
.send {
    width: 100px !important;
}
.cancel {
    width: 100px !important;
}
.profile_form {
    display: inline-block;
    background: #fff;
    width: 78%;
    max-width: 100%;
    padding: 45px 15px 63px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.information-inside-right img {
     height:100% !important
}
.detail {
    height: 70px !important;
}
.col-inner p {
    line-height: 18px !important;
}
}
@media screen and (max-width: 320px)
{
	.slider-controller {
    top: 7%;
}
.information-inside-right img {
     height:100% !important
}
	
	.thumb {
    height: 100px !important;
}
	
	#wrapper {
    float: left;
    width: 100%;
    padding: 0 20px 0 20px;
}
.right-sidebar {
    display: none;
}	
.logo {
    float: left;
    width: 40%;
    padding: 30px 0px 0 0;
}
.menu{
	display:none;
}
.res_menu{
	display:block !important;
}
.header_right {
    float: left;
    padding: 24px 0 0 0;
    width: 60%;
    float: right;
    text-align: right;
}
.col {
    float: left;
    width: 33.33%;
    padding: 0 5px;
    margin: 0 0 10px 0;
}
.leftbar {
	display:none;
}
.rightbar {
    display: block;
    padding: 10px 10px 0 10px;
}
.span3 {
    font-size: 80px;
}
.span3 {
    font-size: 45px !important;
}
.span1 {
    display: none !important;
}
.span2 {
   display: none !important;
}
.footer-line {
   display: none !important;
}
.searchmini{
	display:block !important;
}
.tabnew{
	display:block !important;
}
#content {
    margin: 0 0 10px 0;
}
.page-black {
    padding: 0 15px 0 15px !important;
}
.login-call3 {
    float: left;
    width: 100% !important;
    padding: 0 12px;
}
.login_box2 {
    position: relative !important;
}
.section-top {
    border-top: none !important;
}
.section-login {
    border-bottom: none !important;
    padding: 0px 0 0px 0 !important;
}
.login_box2 {
    float: right !important;
}
.black-wrap #header {
    margin: 0 0 -47px 0 !important;
}
.section-top h2 {
    color: transparent !important;
}
.black-numbers {
    margin: 65px 0 0 0 !important;
    position: absolute;
}
.wrap2 .page-black {
    padding: 0 0px 0 0px !important;
}
.information-inside-left {
    width: 100% !important;
    overflow-y: unset !important;
    padding-top: 200px;
}
.livetitle .select_box .sbSelector:link, .select_box .sbSelector:visited, .select_box .sbSelector:hover{
	font-size: 12px;
	}
.livetitle .input2 {
	font-size: 12px;	
	}
.livetitle .select_box .sbToggle {
    right: 12px;
}
.sendlightbox_form {
    width: 280px;
}
}

@media all and (max-width:1200px) {
.rightbar_inner {
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-left: 0;
}
.rightbar {
    width: 100% !important;
}
#header {
    width: 100%;
}
.information-inside {
    width: 100%;
    padding: 0;
}
#content-white {
    width: 100%;
}
.non-home-footer {
    padding-left: 0;
}
#content-white, #content-white1 {
    width: 100%;
}
}

@media screen and (max-width: 991px){
#content {
    width: 100% !important;
    height: 65.4vh !important;
}
}






@media screen and (min-width: 1441px){
.thumb{ height: 25vh !important; }
.enter-site {
    font-size: 3vh !important;
    line-height: 8vh !important;
    width: auto !important;
    padding: 0 2vw !important;
}
.home-logo img{min-height: 5vh;}
.logo img{min-height: 5vh;}
.logo2 img{min-height: 5vh;}

.menu ul li, .lngname {
    font-size: 2.3vh !important;line-height: 3vh !important;
}
.language {
    font-size: 2.3vh !important;line-height: 3vh !important;
}
.ng-scope{font-size: 2vh;}
.leftbox h2 {
    font-size: 3vh !important;
}
.side-input {
    height: 4vh !important;
}
.side-submit {
    height: 4vh !important;
    font-size: 2.5vh !important;
}
.form-span {
    float: left;
    width: 33.333%;
}
.side-input2 {
    line-height: 4vh !important;
    padding: 3px 2vh !important;
    font-size: 2.5vh !important;

}
.leftbox2 h2 {
    font-size: 2.5vh !important;
}
.ul-style1 li a {
    line-height: 4vh !important;
    padding: 3px 2vh !important;
    font-size: 2.5vh !important;    border: solid 0.1vh #fff !important;
}
.form-text {
    font-size: 2.5vh  !important;
    line-height: 4vh !important;
}
.form-devider {
    height: 4vh !important;
}
.detail {
    height: 6vh !important;
}
.span3 {
    font-size: 7vh !important;
    line-height: 7vh !important;
}

.col-inner p {
    font-size: 2vh;
    line-height: 2.5vh;
}
.span1 {
    font-size: 2.5vh !important;
}
.slider-controller span {
    font-size: 3vh !important;
}
.side-bottom {
    margin-top: 70px !important;    margin-bottom: 20px;
}
.icon {
    width: 5vh !important;
    height: 5vh !important;
}
.poup-close-profilebox {
    font-size: 2.5vh !important;    line-height: 3vh !important;    z-index: 9999; cursor:pointer;
}
.popup form{position: absolute;
    height: 100%;
    width: 100%;    left: 0;
    top: 0;}
.form-big {
    display: inline-block;
    width: 80%;
        max-width: 80vw;
     position: relative; 
    left:auto; 
    top:auto;
    vertical-align: middle;
}	
.popup_left {
    height: 70vh !important;
}
.textarea {
    height: 70vh !important;font-size: 2.5vh !important;
}
.popup-box h2 {
    font-size: 2.5vh !important;
}
.popup-icon2 {
    height: 4vh !important;
    background-size: auto 4vh !important;
}
.input {
    height: 4vh !important;
    font-size: 2.5vh !important;
}
.plus {
    height: 4vh !important;
}
.button {
    line-height: 3vh !important;
}
.cancel2,.send2 {
    height: 4vh !important;
    width: auto !important;
    font-size: 2.5vh !important;
    padding: 0 2vh !important;
}
#profilebox .button2 {
    line-height: 3vh !important;
}
.ansog1 .section-top h2 {
    font-size: 4vh !important;
}
.login_box label {
    font-size: 2.5vh !important;
}
.login_input {
    height: 4vh !important;
    font-size: 2.5vh !important;
}
.login_button1 {
    height: 4vh !important;
    width: auto!important;
    font-size: 2.5vh!important;
    padding: 0 2vh!important;
}
.login_box2 {
    position: relative !important;
    left: 0 !important;
    bottom: 0 !important;
}
.login_link {
    font-size: 2.5vh !important;
    line-height: 4vh !important;
}
.login_inner {
    height: auto !important;
}
.black-close {
    font-size: 2.5vh !important;
    line-height: 3vh !important;
    background-position: right center !important;
}
.black-next {
    height: 3vh !important; width:auto !important;
    padding-left: 25px !important;
    background-position: 0 center !important;font-size: 2.5vh !important;
}
.black-leftbar p {
    font-size: 2.5vh !important;
    line-height: 3vh!important;
}
.black-rightbar h3 {
    font-size: 2.5vh !important;
    line-height: 3vh !important;
}
.ansog1 .input2 {
    height: 4vh !important;
    font-size: 2.5vh !important;
}
.input2 {
    padding: 0 2vh !important;
}
.ansog1 .span3 {
    line-height: 8vh !important;
}
.information-inside h2 {
    font-size: 4vh !important;
    line-height: 5vh !important;
}
.information-inside h2:before {
    width: 6vh !important;
    height: 0.4vh !important;
}
.information-inside p {
    font-size: 2.5vh !important;
    line-height: 3.4vh !important;
}
.poup-close2 {
    line-height: 3vh !important;
    font-size: 2.5vh !important;
}
.footer-line {
    width: 6vh;
    height: 0.4vh;
}
.no_result_ajax span{ line-height: 3vh !important;
    font-size: 2.5vh !important;}
.video_download,.video_upload {
    font-size: 2.5vh !important;
    height: 4vh !important;
    line-height: 4vh !important;
    background-position: 0 center;
}	
.video-leftbar h3 {
    font-size: 3vh !important;
}
.video-leftbar h3:before {
    width: 6vh !important;
    height: 0.4vh !important;
}
.video-leftbar h4 {
    font-size: 3vh !important;
}
.number {
    font-size: 3vh !important;
    line-height: 3.5vh !important;
}
.video-thumb {
    height: 20vh !important;
}
.videobig_thumb {
    height: 70vh !important;
}
.vide_next,.vide_prev {
    width: 3vh !important;
    height: 3vh !important;
    background-size: 2vh !important;
    background-position: center !important;
}
.poup-closeno {
    line-height: 3vh !important;
    font-size: 2.5vh !important;
}
.video_text h3 {
    font-size: 4vh !important;
    padding: 0 0 2vh 0 !important;
    line-height: 5vh !important;
}
.video_text h4 {
    font-size: 2.5vh !important;
    padding: 0 0 2vh 0 !important;
    line-height: 3vh !important;
}
.list_span1 {
    width: 50% !important;
    font-size: 2.5vh !important;
    line-height: 3vh !important;
}
.list_span2 {
    padding: 0 0 0 50% !important;
    font-size: 2vh !important;
    line-height: 3vh !important;
}
.video_text h5 {
    font-size: 3vh !important;
    padding: 2vh 0 2vh 0 !important;
    line-height: 3vh !important;
}
.video_text p {
    font-size: 2vh !important;
    line-height: 2.5vh !important;
}
.user-icon img{height:3vh !important;}
.list_span2 img {
    width: 2vh !important;
}
.video_call6 .video-thumb {
    height: 15vh !important;
}
.right-sidebar {
    width: 4vw !important;
}
.side-top,.sidebar1-close {
    height: 6vh !important;
    background-size: 3vh !important;
}
.side-icon3 {
    width: 50%;
    height: 3vh;
    background-size: 2.5vh;
}
.side-icon3,.side-tabs ul li a.tab2 {
    height: 3vh;
    background-size: 2.5vh;
}
.side-span p {
    font-size: 2.5vh;
}
.sidebar1-left {
    width: 4vw;
}
#sidebar1 {
    width: 20vw;
}
.sidebar1-right {
    width: 100%;
}
.title1_1 {
    font-size: 2.5vh; line-height:3vh;
}
.group_count {
    font-size: 3vh;line-height:3vh;
}
.add-grupper {
    width: 1.5vw;
    height: 3vh;
    background-size: 2vh !important;
}
.glyphicon {
    top: 0;
    line-height: 3vh;
    font-size: 2vh;
}
.addbox-input {
    height: 4vh;
    padding: 0 40px 0 17px;
    font-size: 2.5vh;
}
.addbox-button {
    height: 4vh;
}
.side-tool li{font-size:2vh; line-height:2.5vh;}
.title3{font-size:2.5vh;line-height:2.5vh;}
.title4{font-size:2.5vh;line-height:2.5vh;}
.side-tags ul li{
  border: solid 0.1vh #fff;
  line-height: 4vh;
  font-size: 2vh;
  padding:0 30px 0 10px;
  }
  .div-close{height:2.5vh;}
  .sendlightbox_form {
    width: 20vw;
    margin: 0;
    height: 40vh;position: relative;
}
.send,.cancel {    
height: 4vh;
    width: auto;
    font-size: 2.5vh;
    padding: 0 2vw;
}
.sendlightbox_form h2 {
    font-size: 2.5vh;
    line-height: 3vh;
}
.poup-close {
    line-height: 3vh;
    font-size: 2.5vh;
}
.sendlightbox_form_inner {
    padding: 2vh;
}
.profile_form_input {
    height: 4vh !important;
    font-size: 2.5vh !important;
}
.profile_form_textarea {
    font-size: 2.5vh !important;
}
}


@media (max-width: 768px){
#header {
    margin:0 !important;
}
.black-numbers {
    top: 220px;
}
}


@media screen and (max-width: 560px){
.black-numbers {
    top: 180px;
}
}