RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
# RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Basic authentication for Admin
 AuthType Basic
 AuthName "Castit Admin"
 AuthUserFile /Applications/XAMPP/xamppfiles/htdocs/admin/.htpasswd
 AuthUserFile /var/www/vhost/castit.dk/admin/.htpasswd
 Require valid-user

# DISABLE CACHING
<IfModule mod_headers.c>
	Header set Cache-Control "no-cache, no-store, must-revalidate"
	Header set Pragma "no-cache"
	Header set Expires 0
</IfModule>