<div id="header" class="page-header" ng-class="{ 'english': !isDanish}" ng-controller="MainController"
     style="z-index: 2">
     <div class="logo">
          <a 
               href="#/index{{isDanish ? '/da' : '/en'}}"><img
               ng-src="{{(interface == 'ansog' || interface == 'login' ) && 'images/CASTIT_LOGO_RGB_white.svg' || 'images/CASTIT_LOGO_RGB_black.svg'}}"
               alt="" /></a></div>
     <div class="header_right">
          <div ng-if="!(interface == 'ansog') && !(interface == 'login')" class="menu" style="z-index: 0">
               <ul>
                    <li  
                         ng-class="{ 'active': interface=='login'}">
                         <a href ng-click="goto('login' + (isDanish ? '/da' : '/en'))">Login</a></li>
                    <li 
                         ng-class="{ 'active': interface=='ansog'}">
                         <a href ng-click="goto('ansog-trin1' + (isDanish ? '/da' : '/en'))">{{ isDanish ? 'Ansøg' : 'Apply' }}</a>
                    </li>
                    <li 
                         ng-class="{ 'active': interface=='aboutus'}">
                         <a href ng-click='show_about()'>{{ isDanish ? 'Om Castit' : 'About Castit' }}</a></li>
                    <li 
                         ng-class="{ 'active': interface=='course'}">
                         <a href ng-click='show_course()'>{{ isDanish ? 'Castit Workshop' : 'Castit Workshop' }}</a></li>
                    <li class="kontakt"><b>{{ isDanish ? 'Kontakt' : 'Contact' }}</b>
                         <ul class="">
                              <li style="font-size: 10px; margin-top:10px;">
                                   M: 0045 21 28 58 25<br>
                                   E: <a href="mailto:info@Castit.dk" target="_top" style="color:#2d2e32 !important;font-weight: normal;
text-decoration: underline;"> info@Castit.dk</a></li>
                         </ul>
                    </li>

                    <li class="kontakt"><b>{{ isDanish ? 'Adresse' : 'Address' }}</b>
                         <ul class="">
                              <li style="font-size: 10px; margin-top:10px;">
                                   {{ isDanish ? 'Rosenvængets Allé 11, 1. Sal' : 'Rosenvængets Allé 11, 1st floor' }}<br>
                                   {{ isDanish ? '2100 København Ø' : '2100 Copenhagen Ø' }}<br></li>
                         </ul>
                    </li>
               </ul>
          </div>
          <div class="lngdiv"><span class="lngname"
                    ng-class="{ 'lang-active': interface=='ansog' || interface=='login'}"><span
                         ng-click="changeLanguage(true);" ng-class="{ 'active': isDanish}">DA</span> / <span
                         ng-click="changeLanguage(false);" ng-class="{ 'active': !isDanish}">EN</span></span></div>

          <div class="res-menu" ng-click="toggleMenu()">
               <img class="black-menu main-menu-trigger" src="images/menu.png" alt="responsivemenu" />
               <img class="white-menu main-menu-trigger" src="images/menu2.png" alt="responsivemenu" style="display: none;" />
          </div>

     </div>


     <div id="main-menu-context" class="res_menu">

          <div class="show-xs main-menu-header">
               <img src="images/logo-b.svg" style="width: 40%"/>
               <a 
                    href="/#/index{{ isDanish ? '/da' : '/en'}}"
                    class="poup-close2 popup-close-btn">{{ isDanish ? 'LUK' : 'CLOSE' }}</a>
          </div>

          <ul>
               <li class="hide-xs">
                    <div class="information-inside">
                         <h2>MENU</h2>
                         <a href="/#/index{{ isDanish ? '/da' : '/en'}}"
                              class="poup-close2 popup-close-btn">{{ isDanish ? 'LUK' : 'CLOSE' }}</a>
                    </div>
               </li>
               <!-- <li ng-click="hideMenu()" class="menu-item" ng-class="{ 'active': interface=='login'}"><a
                         href="#/login{{ isDanish ? '/da' : '/en'}}">Login</a></li>
               <li ng-click="hideMenu()" class="menu-item" ng-class="{ 'active': interface=='ansog'}"><a
                         href="#/ansog-trin1{{ isDanish ? '/da' : '/en'}}">{{ isDanish ? 'Ansøg' : 'Apply' }}</a></li>
               <li ng-click="hideMenu()" class="menu-item" ng-class="{ 'active': interface=='aboutus'}"><a
                         href="javascript:;" ng-click='show_about()'>{{ isDanish ? 'Om Castit' : 'About Castit' }}</a>
               </li>
               <li ng-click="hideMenu()" class="menu-item" ng-class="{ 'active': interface=='course'}"><a
                    href="javascript:;"
                    ng-click='show_course()'>{{ isDanish ? 'Castit Workshop' : 'Castit Workshop' }}</a></li> -->
               <li  
                    ng-class="{ 'active': interface=='login'}">
                    <a href ng-click="goto('login' + (isDanish ? '/da' : '/en'))">Login</a></li>
               <li 
                    ng-class="{ 'active': interface=='ansog'}">
                    <a href ng-click="goto('ansog-trin1' + (isDanish ? '/da' : '/en'))">{{ isDanish ? 'Ansøg' : 'Apply' }}</a>
               </li>
               <li 
                    ng-class="{ 'active': interface=='aboutus'}">
                    <a href ng-click='show_about()'>{{ isDanish ? 'Om Castit' : 'About Castit' }}</a></li>
               <li 
                    ng-class="{ 'active': interface=='course'}">
                    <a href ng-click='show_course()'>{{ isDanish ? 'Castit Workshop' : 'Castit Workshop' }}</a></li>
               <li class="kontakt"><a href="javascript:;"
                         ng-click='show_contact()'>{{ isDanish ? 'Kontakt' : 'Contact' }}</a>
                    <ul class="kon-dropdown">
                         <li>
                              Castit ApS<br>
                              {{ isDanish ? 'Rosenvængets Allé 11, 2. Sal' : 'Rosenvængets Allé 11, 2nd floor' }}<br>
                              {{ isDanish ? '2100 København Ø' : '2100 Copenhagen Ø' }}<br>
                              M: 0045 21 28 58 25<br>
                              E: <a href="mailto:info@Castit.dk" target="_top" style="color:#dcdde0 !important;font-weight: normal;
text-decoration: underline;"> info@Castit.dk</a></li>
                    </ul>
               </li>
               <li ng-click="hideMenu()">
                    <span class="span1"><span ng-click="changeLanguage(true);">DA</span> / <em
                              ng-click="changeLanguage(false);">EN</em></span>
                    <span class="span2"><a href="https://www.facebook.com/castitdenmark"
                              target="_blank">Facebook</a></span>
               </li>
          </ul>
     </div>


</div><!-- close header -->
<!-- <div class="social_new">
        	 <a href="#" class="facebook"></a>
             <a href="#" class="twitter"></a>
             <a href="#" class="google_plus"></a>
             <a href="#" class="instagram"></a>
        </div>-->