<div id="header" class="page-header" ng-controller="MainController">
    <div class="logo"><a href="#/index"><img ng-src="{{(interface == 'ansog' || interface == 'login' ) && 'images/logo2.png' || 'images/logo.png'}}" alt="" /></a></div>
          <div class="header_right">
               <div class="menu">
                  <ul>
                      <li ng-class="{ 'active': interface=='login'}"><a href="#/login">Login</a></li>
                        <li ng-class="{ 'active': interface=='ansog'}"><a href="#/ansog-trin1">Ansøg</a></li>
                        <li ng-class="{ 'active': interface=='aboutus'}"><a href="javascript:;" ng-click='show_about()'>Om Castit</a></li>
                        <li ng-class="{ 'active': interface=='course'}"><a  href="javascript:;" ng-click='show_course()'>Castit Workshop</a></li>
                        <li class="kontakt"><b>Kontakt</b>
                    <ul class="">
                              <li style="font-size: 10px; margin-top:10px;">
                                M: 0045 21 28 58 25<br>
                                E: <a href="mailto:info@Castit.dk" target="_top" style="color:#2d2e32 !important;font-weight: normal;
text-decoration: underline;"> info@Castit.dk</a></li>
                            </ul> 
                       </li>

                       <li class="kontakt"><b>Address</b>
                    <ul class="">
                              <li  style="font-size: 10px; margin-top:10px;">
                                Rosenvængets Alle 11, 2. Sal<br>
                                1260 København Ø<br></li>
                            </ul> 
                       </li>
                    </ul>
               </div>
               <div class="lngdiv"><span class="lngname">DA / <em>EN</em></span></div>

                              <div class="res-menu"  >
                               <img class="black-menu" src="images/menu.png" alt="responsivemenu"/>
                               <img class="white-menu" src="images/menu2.png"  alt="responsivemenu" style="display:none;"/>
                               </div>
                              
                                        </div>


               <div class="res_menu">
               <ul>
                      <li><div class="information-inside"><h2>MENU</h2><a href="/#/index" class="poup-close2">LUK</a></div></li>
                       
                        <li ng-class="{ 'active': interface=='login'}"><a href="#/login">Login</a></li>
                        <li ng-class="{ 'active': interface=='ansog'}"><a href="#/ansog-trin1">Ansøg</a></li>
                        <li ng-class="{ 'active': interface=='aboutus'}"><a href="javascript:;" ng-click='show_about()'>Om Castit</a></li>
                        <li ng-class="{ 'active': interface=='course'}"><a  href="javascript:;" ng-click='show_course()'>Castit Workshop</a></li>
                        <li class="kontakt"><a href="javascript:;"  ng-click='show_contact()'>Kontakt</a> 
                          <ul class="kon-dropdown">
                              <li>
                                 Castit ApS<br>
                                Rosenvængets Alle 11, 2. Sal<br>
                                1260 København Ø<br>
                                M: 0045 21 28 58 25<br>
                                E: <a href="mailto:info@Castit.dk" target="_top" style="color:#dcdde0 !important;font-weight: normal;
text-decoration: underline;"> info@Castit.dk</a></li>
                            </ul>
                       </li>
                        
                        <li>
               <span class="span1">DA / <em>EN</em></span>
               <span class="span2"><a href="https://www.facebook.com/castitdenmark" target="_blank">Facebook</a></span>
                        </li>
                        
                        
                    </ul>
               
               </div>
               	
        
    </div><!-- close header -->
   <!-- <div class="social_new">
        	 <a href="#" class="facebook"></a>
             <a href="#" class="twitter"></a>
             <a href="#" class="google_plus"></a>
             <a href="#" class="instagram"></a>
        </div>-->
